appdirs==1.4.3
appnope==0.1.0
asgiref==3.1.4
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.6.2
Automat==0.7.0
backcall==0.1.0
backports.csv==1.0.7
beautifulsoup4==4.8.1
bleach==3.1.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
daphne==2.3.0
decorator==4.4.0
defusedxml==0.5.0
diff-match-patch==20200713
dj-database-url==0.5.0
Django==2.2.2
django-filter==2.4.0
django-heroku==0.3.1
django-import-export==2.4.0
entrypoints==0.3
et-xmlfile==1.0.1
forex-python==1.5
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.10
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
lxml==4.4.1
MarkupPy==1.14
MarkupSafe==1.1.1
mistune==0.8.4
MouseInfo==0.1.3
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.6
numpy==1.19.4
odfpy==1.4.0
openpyxl==2.6.2
pandas==1.1.4
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psycopg2==2.8.6
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyAutoGUI==0.9.52
pycparser==2.19
pyee==6.0.0
PyGetWindow==0.0.9
Pygments==2.3.1
PyHamcrest==1.9.0
PyMsgBox==1.0.9
pyobjc==7.0.1
pyobjc-core==7.0.1
pyobjc-framework-Accessibility==7.0.1
pyobjc-framework-Accounts==7.0.1
pyobjc-framework-AddressBook==7.0.1
pyobjc-framework-AdSupport==7.0.1
pyobjc-framework-AppleScriptKit==7.0.1
pyobjc-framework-AppleScriptObjC==7.0.1
pyobjc-framework-ApplicationServices==7.0.1
pyobjc-framework-AppTrackingTransparency==7.0.1
pyobjc-framework-AuthenticationServices==7.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==7.0.1
pyobjc-framework-Automator==7.0.1
pyobjc-framework-AVFoundation==7.0.1
pyobjc-framework-AVKit==7.0.1
pyobjc-framework-BusinessChat==7.0.1
pyobjc-framework-CalendarStore==7.0.1
pyobjc-framework-CallKit==7.0.1
pyobjc-framework-CFNetwork==7.0.1
pyobjc-framework-ClassKit==7.0.1
pyobjc-framework-CloudKit==7.0.1
pyobjc-framework-Cocoa==7.0.1
pyobjc-framework-Collaboration==7.0.1
pyobjc-framework-ColorSync==7.0.1
pyobjc-framework-Contacts==7.0.1
pyobjc-framework-ContactsUI==7.0.1
pyobjc-framework-CoreAudio==7.0.1
pyobjc-framework-CoreAudioKit==7.0.1
pyobjc-framework-CoreBluetooth==7.0.1
pyobjc-framework-CoreData==7.0.1
pyobjc-framework-CoreHaptics==7.0.1
pyobjc-framework-CoreLocation==7.0.1
pyobjc-framework-CoreMedia==7.0.1
pyobjc-framework-CoreMediaIO==7.0.1
pyobjc-framework-CoreMIDI==7.0.1
pyobjc-framework-CoreML==7.0.1
pyobjc-framework-CoreMotion==7.0.1
pyobjc-framework-CoreServices==7.0.1
pyobjc-framework-CoreSpotlight==7.0.1
pyobjc-framework-CoreText==7.0.1
pyobjc-framework-CoreWLAN==7.0.1
pyobjc-framework-CryptoTokenKit==7.0.1
pyobjc-framework-DeviceCheck==7.0.1
pyobjc-framework-DictionaryServices==7.0.1
pyobjc-framework-DiscRecording==7.0.1
pyobjc-framework-DiscRecordingUI==7.0.1
pyobjc-framework-DiskArbitration==7.0.1
pyobjc-framework-DVDPlayback==7.0.1
pyobjc-framework-EventKit==7.0.1
pyobjc-framework-ExceptionHandling==7.0.1
pyobjc-framework-ExecutionPolicy==7.0.1
pyobjc-framework-ExternalAccessory==7.0.1
pyobjc-framework-FileProvider==7.0.1
pyobjc-framework-FileProviderUI==7.0.1
pyobjc-framework-FinderSync==7.0.1
pyobjc-framework-FSEvents==7.0.1
pyobjc-framework-GameCenter==7.0.1
pyobjc-framework-GameController==7.0.1
pyobjc-framework-GameKit==7.0.1
pyobjc-framework-GameplayKit==7.0.1
pyobjc-framework-ImageCaptureCore==7.0.1
pyobjc-framework-IMServicePlugIn==7.0.1
pyobjc-framework-InputMethodKit==7.0.1
pyobjc-framework-InstallerPlugins==7.0.1
pyobjc-framework-InstantMessage==7.0.1
pyobjc-framework-Intents==7.0.1
pyobjc-framework-IOSurface==7.0.1
pyobjc-framework-iTunesLibrary==7.0.1
pyobjc-framework-KernelManagement==7.0.1
pyobjc-framework-LatentSemanticMapping==7.0.1
pyobjc-framework-LaunchServices==7.0.1
pyobjc-framework-libdispatch==7.0.1
pyobjc-framework-LinkPresentation==7.0.1
pyobjc-framework-LocalAuthentication==7.0.1
pyobjc-framework-MapKit==7.0.1
pyobjc-framework-MediaAccessibility==7.0.1
pyobjc-framework-MediaLibrary==7.0.1
pyobjc-framework-MediaPlayer==7.0.1
pyobjc-framework-MediaToolbox==7.0.1
pyobjc-framework-Metal==7.0.1
pyobjc-framework-MetalKit==7.0.1
pyobjc-framework-MetalPerformanceShaders==7.0.1
pyobjc-framework-MetalPerformanceShadersGraph==7.0.1
pyobjc-framework-MLCompute==7.0.1
pyobjc-framework-ModelIO==7.0.1
pyobjc-framework-MultipeerConnectivity==7.0.1
pyobjc-framework-NaturalLanguage==7.0.1
pyobjc-framework-NetFS==7.0.1
pyobjc-framework-Network==7.0.1
pyobjc-framework-NetworkExtension==7.0.1
pyobjc-framework-NotificationCenter==7.0.1
pyobjc-framework-OpenDirectory==7.0.1
pyobjc-framework-OSAKit==7.0.1
pyobjc-framework-OSLog==7.0.1
pyobjc-framework-PassKit==7.0.1
pyobjc-framework-PencilKit==7.0.1
pyobjc-framework-Photos==7.0.1
pyobjc-framework-PhotosUI==7.0.1
pyobjc-framework-PreferencePanes==7.0.1
pyobjc-framework-PushKit==7.0.1
pyobjc-framework-Quartz==7.0.1
pyobjc-framework-QuickLookThumbnailing==7.0.1
pyobjc-framework-ReplayKit==7.0.1
pyobjc-framework-SafariServices==7.0.1
pyobjc-framework-SceneKit==7.0.1
pyobjc-framework-ScreenSaver==7.0.1
pyobjc-framework-ScreenTime==7.0.1
pyobjc-framework-ScriptingBridge==7.0.1
pyobjc-framework-SearchKit==7.0.1
pyobjc-framework-Security==7.0.1
pyobjc-framework-SecurityFoundation==7.0.1
pyobjc-framework-SecurityInterface==7.0.1
pyobjc-framework-ServiceManagement==7.0.1
pyobjc-framework-Social==7.0.1
pyobjc-framework-SoundAnalysis==7.0.1
pyobjc-framework-Speech==7.0.1
pyobjc-framework-SpriteKit==7.0.1
pyobjc-framework-StoreKit==7.0.1
pyobjc-framework-SyncServices==7.0.1
pyobjc-framework-SystemConfiguration==7.0.1
pyobjc-framework-SystemExtensions==7.0.1
pyobjc-framework-UniformTypeIdentifiers==7.0.1
pyobjc-framework-UserNotifications==7.0.1
pyobjc-framework-UserNotificationsUI==7.0.1
pyobjc-framework-VideoSubscriberAccount==7.0.1
pyobjc-framework-VideoToolbox==7.0.1
pyobjc-framework-Virtualization==7.0.1
pyobjc-framework-Vision==7.0.1
pyobjc-framework-WebKit==7.0.1
pyperclip==1.8.1
pyppeteer==0.0.25
pyquery==1.4.1
PyRect==0.1.4
pyrsistent==0.14.11
PyScreeze==0.1.26
python-dateutil==2.8.0
python3-xlib==0.15
PyTweening==1.0.3
pytz==2019.1
PyYAML==5.1.1
pyzmq==18.0.1
qtconsole==4.4.3
redis==2.10.6
requests==2.22.0
rubicon-objc==0.4.0
Send2Trash==1.5.0
simplejson==3.17.2
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
tablib==3.0.0
terminado==0.8.1
testpath==0.4.2
tornado==4.5.3
tqdm==4.37.0
traitlets==4.3.2
Twisted==19.2.1
txaio==18.8.1
urllib3==1.25.3
w3lib==1.21.0
wcwidth==0.1.7
webencodings==0.5.1
websockets==8.1
whitenoise==4.1.2
widgetsnbextension==3.4.2
xlrd==1.2.0
xlwt==1.3.0
zope.interface==5.2.0
