<!DOCTYPE html>
<html lang="en">

    <head>
         {% load static %}

         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <meta name="description" content="A spending tracker for finances.">
         <meta name="author" content="Brendan Dagys">

         <link href="{% static 'css/style.css' %}" rel="stylesheet">

         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Chart.js -->
         <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

         <!-- JQuery -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

         <title>Brendan's Spending Tracker</title>
    </head>

    <body>

        <div class="lighter_background container-fluid">
            <div class="row">

                <div class="navigation_link col-sm-12">
                    <a class="homepage_link" href="{% url 'transactions' %}">View Purchases</a>
                </div>

                <div class="col-sm-12">

                    <form id="purchase_form" action="" method="post">
                        {% csrf_token %}
                        <table class="center">
                            {{ purchase_form }}
                            <!-- {{ purchase_form.errors}} -->
                        </table> </br>

                        <input id="submit_button" class="btn btn-success" type="submit" value="Submit" name="purchase_form_submit">
                    </form>

                </div>
            </div>
        </div>

        <div class="bottom_div">

            <div class="row">
                <div class="chart col-sm-12 col-md-6">
                    <h3>All Purchases (Excluding Bills)</h3>
                    <canvas id="myChart1" width="400" height="400"></canvas>
                    <button id="1_100" type="button" class="button btn btn-primary">100 Days</button>
                    <button id="1_050" type="button" class="button btn btn-success">50 Days</button>
                    <button id="1_025" type="button" class="button btn btn-primary">25 Days</button>
                    <button id="1_Weeks" type="button" class="button btn btn-primary">12 Weeks</button>
                </div>
                <div class="chart col-sm-12 col-md-6">
                    <h3>Food/Drinks</h3>
                    <canvas id="myChart2" width="400" height="400"></canvas>
                    <button id="2_100" type="button" class="button btn btn-primary">100 Days</button>
                    <button id="2_050" type="button" class="button btn btn-success">50 Days</button>
                    <button id="2_025" type="button" class="button btn btn-primary">25 Days</button>
                    <button id="2_Weeks" type="button" class="button btn btn-primary">12 Weeks</button>
                </div>
            </div>

            <div class="row">
                <div class="chart col-sm-12 col-md-6">
                    <h3>Groceries</h3>
                    <canvas id="myChart3" width="400" height="400"></canvas>
                    <button id="3_100" type="button" class="button btn btn-primary">100 Days</button>
                    <button id="3_050" type="button" class="button btn btn-success">50 Days</button>
                    <button id="3_025" type="button" class="button btn btn-primary">25 Days</button>
                    <button id="3_Weeks" type="button" class="button btn btn-primary">12 Weeks</button>
                </div>
                <div class="chart col-sm-12 col-md-6">
                    <h3>Coffee</h3>
                    <canvas id="myChart4" width="400" height="400"></canvas>
                    <button id="4_100" type="button" class="button btn btn-primary">100 Days</button>
                    <button id="4_050" type="button" class="button btn btn-success">50 Days</button>
                    <button id="4_025" type="button" class="button btn btn-primary">25 Days</button>
                    <button id="4_Weeks" type="button" class="button btn btn-primary">12 Weeks</button>
                </div>
            </div>

            <div class="row">
                <div class="chart col-sm-12 col-md-6">
                    <h3>Gas</h3>
                    <canvas id="myChart5" width="400" height="400"></canvas>
                    <button id="5_100" type="button" class="button btn btn-primary">100 Days</button>
                    <button id="5_050" type="button" class="button btn btn-success">50 Days</button>
                    <button id="5_025" type="button" class="button btn btn-primary">25 Days</button>
                    <button id="5_Weeks" type="button" class="button btn btn-primary">12 Weeks</button>
                </div>
                <div class="chart col-sm-12 col-md-6">
                    <h3>Services</h3>
                    <canvas id="myChart6" width="400" height="400"></canvas>
                    <button id="6_100" type="button" class="button btn btn-primary">100 Days</button>
                    <button id="6_050" type="button" class="button btn btn-success">50 Days</button>
                    <button id="6_025" type="button" class="button btn btn-primary">25 Days</button>
                    <button id="6_Weeks" type="button" class="button btn btn-primary">12 Weeks</button>
                </div>
            </div>

        </div>

        <script>

            $('button').hide();

            $(document).ready(function() {

                // Hide 2 fields and add an anchor link button
                $('#id_category_2,#id_amount_2,label[for="id_category_2"],label[for="id_amount_2"]').hide();
                $('#id_amount').after('<tr id="custom_row"><td><a id="custom_anchor_link" style="font-size:1rem;">Add 2nd category</a></td></tr>')
                // After click, hide the link and re-show the hidden fields
                $('#custom_anchor_link').on('click', function(e) {
                    $('#custom_anchor_link').hide();
                    $('#id_category_2,#id_amount_2,label[for="id_category_2"],label[for="id_amount_2"]').show();
                });


                $('#id_category').on('change', function(e) {
                    if ($('#id_category :selected').text() === 'Coffee') { // Could not figure out how to select using JQuery
                        $('#id_item').val('Coffee at McDonalds'); // input elements must use .val()
                        $('#id_amount').val('2.10');
                        $('#id_description').text('L, regular.'); // textarea elemented must be inserted into using .text()
                    }
                    else if ($('#id_category :selected').text() === 'Gas') {
                        $('#id_item').val('Gas at Esso');
                        $('#id_description').text(' L, $/L.');
                    }
                    else if ($('#id_category :selected').text() === 'Groceries') {
                        $('#id_item').val('Groceries at ');
                    }
                });


                var mode

                $.ajax({
                    type: 'GET',
                    url: 'mode/',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function(response) {
                      mode = response['mode'];
                      if (mode === 'All') {
                          $('button[id="all_mode"]').addClass('btn-success');
                      }
                      else if (mode === 'Threshold') {
                          $('button[id="threshold_mode"]').addClass('btn-success');
                      }
                      console.log('Retrieved mode: '.concat(mode));
                    }
                });

                function chart_1(filter='50') {

                    $.ajax({
                        type: 'GET',
                        url: 'charts/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'category': 'All', 'filter': filter },
                        success: function(response) {
                                console.log(response);
                            var ctx = document.getElementById('myChart1').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: response['All']['labels'],
                                    datasets: [{
                                        label: 'Dollars Spent',
                                        data: response['All']['values'],
                                        backgroundColor: [
                                            // 'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            // 'rgba(255, 206, 86, 0.2)',
                                            // 'rgba(75, 192, 192, 0.2)',
                                            // 'rgba(153, 102, 255, 0.2)',
                                            // 'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            // 'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            // 'rgba(255, 206, 86, 1)',
                                            // 'rgba(75, 192, 192, 1)',
                                            // 'rgba(153, 102, 255, 1)',
                                            // 'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }],
                                        xAxes: [{
                                            ticks: {
                                                fontSize: 8
                                            }
                                        }]
                                    }
                                }
                            });
                        }
                    });
                }

                function chart_2(filter='50') {

                    $.ajax({
                        type: 'GET',
                        url: 'charts/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'category': 'Food/Drinks', 'filter': filter },
                        success: function(response) {
                                console.log(response);
                            var ctx = document.getElementById('myChart2').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: response['Food/Drinks']['labels'],
                                    datasets: [{
                                        label: 'Dollars Spent',
                                        data: response['Food/Drinks']['values'],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            // 'rgba(54, 162, 235, 0.2)',
                                            // 'rgba(255, 206, 86, 0.2)',
                                            // 'rgba(75, 192, 192, 0.2)',
                                            // 'rgba(153, 102, 255, 0.2)',
                                            // 'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            // 'rgba(54, 162, 235, 1)',
                                            // 'rgba(255, 206, 86, 1)',
                                            // 'rgba(75, 192, 192, 1)',
                                            // 'rgba(153, 102, 255, 1)',
                                            // 'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }],
                                        xAxes: [{
                                            ticks: {
                                                fontSize: 8
                                            }
                                        }]
                                    }
                                }
                            });
                        }
                    });
                }

                function chart_3(filter='50') {

                    $.ajax({
                        type: 'GET',
                        url: 'charts/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'category': 'Groceries', 'filter': filter },
                        success: function(response) {
                                console.log(response);
                            var ctx = document.getElementById('myChart3').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: response['Groceries']['labels'],
                                    datasets: [{
                                        label: 'Dollars Spent',
                                        data: response['Groceries']['values'],
                                        backgroundColor: [
                                            // 'rgba(255, 99, 132, 0.2)',
                                            // 'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            // 'rgba(75, 192, 192, 0.2)',
                                            // 'rgba(153, 102, 255, 0.2)',
                                            // 'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            // 'rgba(255, 99, 132, 1)',
                                            // 'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            // 'rgba(75, 192, 192, 1)',
                                            // 'rgba(153, 102, 255, 1)',
                                            // 'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }],
                                        xAxes: [{
                                            ticks: {
                                                fontSize: 8
                                            }
                                        }]
                                    }
                                }
                            });
                        }
                    });
                }

                function chart_4(filter='50') {

                    $.ajax({
                        type: 'GET',
                        url: 'charts/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'category': 'Coffee', 'filter': filter },
                        success: function(response) {
                                console.log(response);
                            var ctx = document.getElementById('myChart4').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: response['Coffee']['labels'],
                                    datasets: [{
                                        label: 'Dollars Spent',
                                        data: response['Coffee']['values'],
                                        backgroundColor: [
                                            // 'rgba(255, 99, 132, 0.2)',
                                            // 'rgba(54, 162, 235, 0.2)',
                                            // 'rgba(255, 206, 86, 0.2)',
                                            // 'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            // 'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            // 'rgba(255, 99, 132, 1)',
                                            // 'rgba(54, 162, 235, 1)',
                                            // 'rgba(255, 206, 86, 1)',
                                            // 'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            // 'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }],
                                        xAxes: [{
                                            ticks: {
                                                fontSize: 8
                                            }
                                        }]
                                    }
                                }
                            });
                        }
                    });
                }

                function chart_5(filter='50') {

                    $.ajax({
                        type: 'GET',
                        url: 'charts/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'category': 'Gas', 'filter': filter },
                        success: function(response) {
                                console.log(response);
                            var ctx = document.getElementById('myChart5').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: response['Gas']['labels'],
                                    datasets: [{
                                        label: 'Dollars Spent',
                                        data: response['Gas']['values'],
                                        backgroundColor: [
                                            // 'rgba(255, 99, 132, 0.2)',
                                            // 'rgba(54, 162, 235, 0.2)',
                                            // 'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            // 'rgba(153, 102, 255, 0.2)',
                                            // 'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            // 'rgba(255, 99, 132, 1)',
                                            // 'rgba(54, 162, 235, 1)',
                                            // 'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            // 'rgba(153, 102, 255, 1)',
                                            // 'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }],
                                        xAxes: [{
                                            ticks: {
                                                fontSize: 8
                                            }
                                        }]
                                    }
                                }
                            });
                        }
                    });
                }

                function chart_6(filter='50') {

                    $.ajax({
                        type: 'GET',
                        url: 'charts/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'category': 'Services', 'filter': filter },
                        success: function(response) {
                                console.log(response);
                            var ctx = document.getElementById('myChart6').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: response['Services']['labels'],
                                    datasets: [{
                                        label: 'Dollars Spent',
                                        data: response['Services']['values'],
                                        backgroundColor: [
                                            // 'rgba(255, 99, 132, 0.2)',
                                            // 'rgba(54, 162, 235, 0.2)',
                                            // 'rgba(255, 206, 86, 0.2)',
                                            // 'rgba(75, 192, 192, 0.2)',
                                            // 'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            // 'rgba(255, 99, 132, 1)',
                                            // 'rgba(54, 162, 235, 1)',
                                            // 'rgba(255, 206, 86, 1)',
                                            // 'rgba(75, 192, 192, 1)',
                                            // 'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }],
                                        xAxes: [{
                                            ticks: {
                                                fontSize: 8
                                            }
                                        }]
                                    }
                                }
                            });
                        }
                    });
                }

                chart_1();
                chart_2();
                chart_3();
                chart_4();
                chart_5();
                chart_6();

                $('button').fadeIn(3000);
                // Pass the desired filter, taken from the last 3 characters of the button's id
                $('button[id^="1"]').on('click', function(e) { chart_1(this.id.slice(2, 5)) } );
                $('button[id^="2"]').on('click', function(e) { chart_2(this.id.slice(2, 5)) } );
                $('button[id^="3"]').on('click', function(e) { chart_3(this.id.slice(2, 5)) } );
                $('button[id^="4"]').on('click', function(e) { chart_4(this.id.slice(2, 5)) } );
                $('button[id^="5"]').on('click', function(e) { chart_5(this.id.slice(2, 5)) } );
                $('button[id^="6"]').on('click', function(e) { chart_6(this.id.slice(2, 5)) } );

                $('button[id^="1"]').on('click', function(e) {
                    $(this).siblings('button').removeClass('btn-success').addClass('btn-primary');
                    $(this).addClass('btn-success');
                });

                $('button[id^="2"]').on('click', function(e) {
                    $(this).siblings('button').removeClass('btn-success').addClass('btn-primary');
                    $(this).addClass('btn-success');
                });

                $('button[id^="3"]').on('click', function(e) {
                    $(this).siblings('button').removeClass('btn-success').addClass('btn-primary');
                    $(this).addClass('btn-success');
                });

                $('button[id^="4"]').on('click', function(e) {
                    $(this).siblings('button').removeClass('btn-success').addClass('btn-primary');
                    $(this).addClass('btn-success');
                });

                $('button[id^="5"]').on('click', function(e) {
                    $(this).siblings('button').removeClass('btn-success').addClass('btn-primary');
                    $(this).addClass('btn-success');
                });

                $('button[id^="6"]').on('click', function(e) {
                    $(this).siblings('button').removeClass('btn-success').addClass('btn-primary');
                    $(this).addClass('btn-success');
                });

                $('button[id="all_mode"]').on('click', function(e) {
                    $.ajax({
                        type: 'POST',
                        url: 'mode/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'mode': 'All'},
                        success: function(response) {
                          $(this).addClass('btn-success');
                          $('button[id="all_mode"]').addClass('btn-success');
                          $('button[id="threshold_mode"]').removeClass('btn-success');
                          console.log('Updated mode to All!');
                        }
                    });
                });

                $('button[id="threshold_mode"]').on('click', function(e) {
                    $.ajax({
                        type: 'POST',
                        url: 'mode/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'mode': 'Threshold'},
                        success: function(response) {
                          $(this).addClass('btn-success');
                          $('button[id="threshold_mode"]').addClass('btn-success');
                          $('button[id="all_mode"]').removeClass('btn-success');
                          console.log('Updated mode to Threshold!');
                        }
                    });
                });

            });

        </script>

        <hr>

        <div class="modes col-sm-12">
          <button id="all_mode" type="button" class="modes btn btn-secondary">Send Alerts After Every Purchase</button>
          <button id="threshold_mode" type="button" class="modes btn btn-secondary">Send Alerts When Threshold Reached</button>
        </div>

    </body>

</html>
