<!DOCTYPE html>
<html lang="en">

    <head>
         {% load static %}

         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <meta name="description" content="A spending tracker for finances.">
         <meta name="author" content="Brendan Dagys">

         <link href="{% static 'css/style.css' %}" rel="stylesheet">

         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Chart.js -->
         <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

         <title>Brendan's Spending Tracker</title>
    </head>

    <body>

        <div class="lighter_background container-fluid">
            <div class="row">

                <div class="navigation_link col-sm-12">
                    <a class="homepage_link" href="{% url 'transactions' %}">View Transactions</a>
                </div>

                <div class="col-sm-12">

                    <form id="purchase_form" action="" method="post">
                        {% csrf_token %}
                        <table class="center">
                            {{ purchase_form }}
                            <!-- {{ purchase_form.errors}} -->
                        </table> </br>

                        <input id="submit_button" class="btn btn-success" type="submit" value="Submit" name="purchase_form_submit">
                    </form>

                </div>
            </div>
        </div>

        <div class="bottom_div">

            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            </script>
            
        </div>

    </body>

</html>
