<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <link rel="shortcut icon" href="{% static 'images/money_bulb.png' %}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="description" content="Finances Tracker web application.">
        <meta name="author" content="Brendan Dagys">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>Account Balances + Purchase List</title>

    </head>

    <body class="white_background">
        <div id="purchase_modal_background" class="purchase_modal_background">
            <div id="purchase_modal" class="purchase_modal" style="width:338px; height:162px; position:relative; margin:auto;">
                    <button id="view_receipt_button" style="position:absolute; right:68px; top:42px; width:200px;" type="button" class="btn btn-success border">View Receipt</button> <br>
                    <button id="delete_purchase_button" style="position:absolute; right:68px; top:84px; width:200px;" type="button" class="btn btn-danger border">Delete Purchase</button>
            </div>
        </div>

        <div class="container-fluid">
            <div class="floating_bar row">

                <div class="navigation_link col-sm-12">
                    <a id="homepage_link" class="homepage_link" href="{% url 'homepage' %}">Home</a>
                    <a id="admin_link" style="position:fixed; top:10px; right:20px; z-index:900;" class="btn btn-outline-info btn-sm" href="{% url 'admin:index' %}">Admin</a>
                    <a id="activity_link" style="position:fixed; top:47.5px; right:15px; width:70px; z-index:900;" class="btn btn-outline-primary btn-sm" href="{% url 'settings' %}">Settings</a>
                </div>

                <div class="col-sm-12">
                    <b><h2 id="total_spent" class="total_spent"></h2></b>
                </div>

            </div>
        </div>

        <div class="main_container container-fluid">

            <div class="container-fluid">
                <form id="account_form" action="" method="post">
                    {% csrf_token %}
                    <table class="center">
                        {{ account_form }}
                    </table>
                </form>
            </div>

            <div style="margin-top:15px; text-align:center;"><button id="reset_credit_card" style="position:relative; margin:auto;" type="button" class="btn btn-sm btn-success">Reset Credit Card</button></div>
            <br />
            <span style="text-align:center;"><h3 id="accounts_sum"></h3></span>

            <table style="width:100%; margin-top:17px; margin-bottom:-15px; font-size:0.8rem;">
                <tr>
                    <td colspan="2" style="text-align:center;"><u>Current Exchange Rates</u></td>
                </tr>
                <tr style="color: slategrey;">
                    <td id="USD_rate" style="text-align:right; width:50%; padding-right:12px;"></td>
                    <td id="EUR_rate" style="text-align:left; width:50%; padding-left:25px;"></td>
                </tr>
            </table>

            <hr />

            <table style="width:100%;">

                <tr>
                    <td colspan="2" style="width:100%; text-align:center; padding-bottom:10px;">
                        <a id="All Categories" class="no_filter filter_identifier" href="">ALL CATEGORIES</a>
                    </td>
                </tr>

                <!-- <tr>
                    <td colspan="2" style="width:100%; text-align:center;">
                        <p class="filter_headers">Categories</p>
                    </td>
                </tr> -->

                {% for filter_tuple in purchase_categories_tuples_list %}
                    <tr class="category_sizing">
                        <td style="width:50%; text-align:right; padding-right:10px;">
                            <a id="{{filter_tuple.0}}" class="filter_identifier" href="">{{filter_tuple.0}}</a>
                        </td>
                        <td style="width:50%; text-align:left; padding-left:10px;">
                            <a id="{{filter_tuple.1}}"  class="filter_identifier" href="">{{filter_tuple.1}}</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>

            <br />

            <div class="row" style="width:100%;">
                <span style="width:100%; margin-right:0;">
                <!-- <div class="col-sm-12"></div> -->
                <!-- <div align="center" class="col-sm-2"> -->
                      <!-- <p><b><small>From</small></b></p> -->
                      <input style="display:inline-block; text-align:center; width:120px; float:left; margin-left:21%;" class="form-control" type="text" pattern="\d*" placeholder="From..." type="text" id="datepicker">
                <!-- </div> -->

                <!-- <div align="center" class="col-sm-2"> -->
                      <!-- <p><b><small>To</small></b></p> -->
                      <input style="display:inline-block; text-align:center; width:120px; float:right; margin-right:13%;" class="form-control" type="text" pattern="\d*" placeholder="To..." type="text" id="datepicker_2">
                <!-- </div> -->
                <!-- <div class="col-sm-12"></div> -->
                </span>
            </div>

            <hr>

            <div class="purchase_list_div col-sm-12">

                <h2 id="purchase_list_header" class="purchase_header">Purchases <span id="purchases_count"></span></h2>

                <div id="purchase_list_div"></div>

            </div>

        </div>

    </body>
</html>

<script type="text/javascript">

    $(document).ready(function() {

        // Initial indication of the applied filters
        $.ajax({
            type: 'GET',
            url: 'filters/',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                    'page': 'Purchases',                     },
            success: function(response) {
                $.each(response, function(index, category_filter) {
                      $('#' + $.escapeSelector(category_filter)).addClass('green_filters');
                      // console.log(category_filter);
                });
            }
        });

        // Set the date filters
        $('#datepicker').val('{{start_date}}');
        $('#datepicker_2').val('{{end_date}}');


        // Display the modal and modal background if a Purchase <li> is clicked
        $(document).on('click', '.purchase_list_items', function(e) {
            $('#purchase_modal_background').css('visibility', 'visible');
            $('#purchase_modal').css({opacity: 0.0, visibility: 'visible'}).animate({opacity: 1.0});
            if ($(this).data('url') !== '') {
                $('#view_receipt_button').attr('data-url', $(this).data('url'));
                $('#view_receipt_button').prop('disabled', false);
            }
            else {
                $('#view_receipt_button').prop('disabled', true);
            }
            $('#delete_purchase_button').attr('data-id', $(this).data('id'));
        });

        // After deletion or click outside of the modal, it must be re-hidden, and the data-id and data-url attributes reset to ''
        hide_and_reset_modal = function() {
            $('#purchase_modal_background').css('visibility', 'hidden');
            $('#purchase_modal').css('visibility', 'hidden');
            // Unnecessary, but cleaner...
            $('#view_receipt_button').attr('data-url', '');
            $('#delete_purchase_button').attr('data-id', '');
        }

        // Hide the modal and modal background if anything other than the modal or nav header is clicked
        $(document).on('click', function(e) {
            if (e.target.id === 'purchase_modal_background') {
                hide_and_reset_modal();
            }
        });

        // Link to the S3 file of the Purchase receipt
        $(document).on('click', '#view_receipt_button', function(e) {
            window.open($(this).data('url')); // Browser settings should dictate whether this opens in new tab or window
        });

        // Delete the selected Purchase
        $(document).on('click', '#delete_purchase_button', function(e) {
          $.ajax({
              type: 'POST',
              url: 'delete_purchase/',
              data: {
                     csrfmiddlewaretoken: '{{ csrf_token }}',
                     'id': $(this).data('id'),
              },
              context: this, // To allow access in the callback functions
              success: function (response) {
                  console.log('Deleted Purchase: ' + $(this).data('id'));

                  get_queryset();
                  hide_and_reset_modal();

              },
              error: function (response) {
                  console.log('There was an issue deleting Purchase: ' + $(this).data('id'));
              }
          });
        });


        // Clear the date and time fields when clicked, as we only would click if we wanted to alter the values
        $('#datepicker,#datepicker_2').on('focus', function(e) {
            $(this).val('');
        });


        // Limit text entry to only numbers
        $('#datepicker, #datepicker_2').on('keydown', function(e) {
            // console.log($(this).val().length);
            if ([4,7].includes($(this).val().length) && e.key !== 'Backspace' && Number.isInteger(parseInt(e.key))) {
                $(this).val($(this).val() + '-');
            }
            if ((!Number.isInteger(parseInt(e.key)) && !['Backspace', 'Enter', 'Tab'].includes(e.key)) || ($(this).val().length > 9  && !['Backspace', 'Enter', 'Tab'].includes(e.key))) { // Still necessary to check if it's a letter because forms.py attributes aren't working
                e.preventDefault();
            }
            if ($(this).val().length === 5 && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 6 && $(this).val()[5] === '1' && !['0', '1', '2', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 6 && $(this).val()[5] === '2' && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 8 && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 9 && $(this).val()[8] === '3' && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
        });


        get_accounts_sum = function() {
            $.ajax({
                type: 'GET',
                url: 'get_accounts_sum/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function(response) {
                    console.log('Retrieved accounts sum!');
                    console.log(response);
                    $('#accounts_sum').html(response['accounts_sum']);
                    $('#USD_rate').html(response['exchange_rates']['USD']);
                    $('#EUR_rate').html(response['exchange_rates']['EUR']);
                }
            });
        }

        // Populate the Accounts sum value upon initial page load
        get_accounts_sum();


        // General function to fetch the Queryset and populate the page with it
        get_queryset = function() {
            $.ajax({
                type: 'GET',
                url: 'get_purchases/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function(response) {
                    console.log('Retrieved purchases!');
                    console.log(response); // object

                    $('#total_spent').html(response['purchases_sum']); // Set the total amount spent
                    if (response['data'].length > 0) {
                        $('#purchase_list_header').html('Purchases <span id="purchases_count"></span>');
                        $('#purchases_count').html('(' + response['data'].length + ')');
                        $('#no_purchases_spacing').hide();
                    }
                    else if ($('#purchase_list_header').text() !== 'No purchases to list!') {
                        $('#purchase_list_header').text('No purchases to list!');
                        // $('#purchase_list_header').before('<br>');
                        // $('#purchase_list_header').after('<div style="margin-bottom: 20px;" id="no_purchases_spacing"></div>');
                    }

                    $('#purchase_list_div').html('');
                    $('#purchase_list_div').html(
                        function() {
                            let purchase_list = '<ul class="list_container" style="padding-left:0; margin:22px 0 0;">';
                            $.each(response['data'], function(index, value) {
                                let id = value.id;
                                let date = value.date;
                                let time = value.time;
                                let amount = value.amount;
                                let category = value.category_id;
                                let amount_2 = value.amount_2;
                                let category_2 = value.category_2_id;
                                let item = value.item;
                                let description = value.description;
                                let receipt = value.url;

                                let category_spacer = ' ';
                                let description_spacer = '';

                                if (category_2 === null) {
                                    category_2 = '';
                                }
                                else {
                                    category_spacer = ' | ';
                                }
                                if (amount_2 === null) {
                                    amount_2 = '';
                                }
                                else {
                                    amount_2 = '+ $'.concat(amount_2);
                                }
                                if (description !== '') {
                                    description_spacer = ' | ';
                                }

                                // purchase_list = purchase_list.concat('<div style="position:relative;"><li class="purchase_list_items" style="display:inline-block; width:95%;">');
                                purchase_list = purchase_list.concat(`<li data-id="${id}" data-url="${receipt}" class="purchase_list_items" style="display:inline-block; width:100%;">`);
                                purchase_list = purchase_list.concat(`<h6 style="margin-top:8px;"><b>${date}, ${time}</b>: <span style="font-size:1.4rem;" class="blue_text">$${amount} ${amount_2}</span>`);
                                if (receipt !== '') {
                                    purchase_list = purchase_list.concat('<img style="width:17px; height:17px; margin:0 5px 5px;" src="{% static 'images/camera_glyph.png' %}"></h6>');
                                }
                                else {
                                    purchase_list = purchase_list.concat('</h6>');
                                }
                                purchase_list = purchase_list.concat(`<h6><u>${category}</u>${category_spacer}<u>${category_2}</u> | <b>${item}</b>${description_spacer}<span class="purchase_description"><i>${description}</i></span></h6></li>`);
                                // purchase_list = purchase_list.concat('<li style="display:inline-block; height:22px; position:absolute; top:50%; margin-top:-11px; margin-left:8px;">x</li></div>');
                                // purchase_list = purchase_list.concat('<img style="display:inline-block; width:20px; height:20px;" id="image" src="{% static 'images/camera_glyph.png' %}">')
                            });

                            return purchase_list.concat('</ul>');
                        }
                    );
                }
            });
        }

        // Populate the Purchase list upon initial page load
        get_queryset();


        $('#account_form').find(':input').on('change', function(e) {
            if ($(this).val().trim() !== '' && parseFloat($(this).val()) !== parseFloat($(this).attr('placeholder').substring(1).trim().replace(',', ''))) { // When the value is cleared or the placeholder value is typed, this function shouldn't run
                $.ajax({
                    type: 'POST',
                    url: 'account_update/',
                    data: {
                           csrfmiddlewaretoken: '{{ csrf_token }}',
                           'id': $(this).attr('id'),
                           'value': $(this).val(),
                    },
                    context: this, // To allow access in the callback functions
                    success: function (response) {
                        console.log($(this).attr('id') + ' updated to: ' + $(this).val());
                        $.each(response, function(id, account_placeholder) {
                            $('#' + id).attr('placeholder', account_placeholder);
                        });
                        get_accounts_sum();
                    },
                    error: function () {
                        console.log('There was an issue updating the value for ' + $(this).attr('id'));
                    }
                });
            }
        });


        $(document).on('click', '#reset_credit_card', function (e) {
            if ($('#id_3').attr('placeholder').slice(1).trim() !== '0.00') { // I believe this really equals 0.00
                $.ajax({
                    type: 'POST',
                    url: 'reset_credit_card/',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                    success: function(response) {
                        $('#id_3').val('');
                        $('#id_3').attr('placeholder', '$                0.00');
                        $('#id_1').val('');
                        $('#id_1').attr('placeholder', response);
                        get_accounts_sum();
                        console.log('Credit card successfully reset!');
                    },
                    error: function() {
                        console.log('Error resetting credit card.!');
                    },
                });
            }
        });


        $('a.filter_identifier').on('click', function(e) {
            e.preventDefault()

            $(this).blur(); // Without this, the anchor link remains selected after being clicked

            $.ajax({
                type: 'POST',
                url: 'filters/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'page': 'Purchases',
                        'type': 'Category',
                        'id': $(this).attr('id'),
                },
                context: this, // To allow access in the callback functions
                success: function (response) {
                    console.log('Filter POST successful!');
                    $('a.filter_identifier').removeClass('green_filters');
                    $.each(response, function(index, category_filter) {
                          $('#' + $.escapeSelector(category_filter)).addClass('green_filters');
                          // console.log(category_filter);
                    });
                    get_queryset();
                },
                error: function() {
                    console.log('There was an issue updating the filter: ' + $(this).attr('id'));
                }
            });
            return false;
        });


        // When switching from a date to blank string, the 'change' event does not fire
        $(document).on('focusout', '#datepicker, #datepicker_2', function(e) {
            if ($(this).val() === '') {
                $.ajax({
                    type: 'POST',
                    url: 'filters/',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'page': 'Purchases',
                            'type': 'Date',
                            'id': $(this).attr('id'),
                            'filter_value': $(this).val(), },
                    context: this,
                    success: function(response) {
                        console.log('Date filter updated!');
                        get_queryset();
                    },
                    error: function() {
                        console.log('Error updating date filter.');
                    },
              });
            }
        });


        $(document).on('change', '#datepicker, #datepicker_2', function(e) {
            console.log('Start date: ' + $('#datepicker').val());
            console.log('End date: ' + $('#datepicker_2').val());

            // Make sure the start date is not later than the end date
            if($('#datepicker').val() !== '' && $('#datepicker_2').val() !== '' & $('#datepicker').val() > $('#datepicker_2').val()){
                alert('The start date cannot be later than the end date.');
                $(this).val('');
            }
            else if ($('#datepicker').val().length != 0 && $('#datepicker').val().length != 10 || $('#datepicker_2').val().length != 0 && $('#datepicker_2').val().length != 10) {
                alert('\nPlease enter a valid date.');
                $(this).val('');
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: 'filters/',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'page': 'Purchases',
                            'type': 'Date',
                            'id': $(this).attr('id'),
                            'filter_value': $(this).val(), },
                    context: this,
                    success: function(response) {
                        console.log('Date filter updated!');
                        get_queryset();
                    },
                    error: function() {
                        console.log('Error updating date filter.');
                    },
                });
            }
        });

    });

</script>
