<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <link rel="shortcut icon" href="{% static 'images/money_bulb.png' %}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="description" content="Finances Tracker web application.">
        <meta name="author" content="Brendan Dagys">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->

        <!-- Chart.js -->
         <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

         <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>Account Balances + Purchase List</title>

    </head>

    <body class="white_background">
        <div id="purchase_modal_background" class="purchase_modal_background">
            <div id="purchase_modal" class="purchase_modal" style="width:338px; height:162px; position:relative; margin:auto;">
                    <button id="view_receipt_button" style="position:absolute; right:68px; top:42px; width:200px;" type="button" class="btn btn-success border">View Receipt</button> <br>
                    <button id="delete_purchase_button" style="position:absolute; right:68px; top:84px; width:200px;" type="button" class="btn btn-danger border">Delete Purchase</button>
            </div>
        </div>

        <div class="floating_bar_short row">
            <div style="padding-top:9px;" class="col-sm-12">
                <a id="home_link"  class="btn btn-outline-primary btn-sm" href="{% url 'homepage' %}">Form + Charts</a>
                <a id="settings_link"  class="btn btn-outline-secondary btn-sm" href="{% url 'settings' %}">Settings</a>
                <a id="admin_link" target="_blank" class="btn btn-outline-info btn-sm" href="{% url 'admin:index' %}">Admin</a>
            </div>
        </div>

        <div class="main_container container-fluid">

            <div style="padding:7px 15px 7px 7px;" class="container-fluid">
                <form style="margin-top:60px;" id="account_form" action="" method="post">
                    {% csrf_token %}
                    <table id="account_table" class="center">
                        {{ account_form }}
                    </table>
                </form>
            </div>

            {% if display_reset_credit_card %}
                <div style="margin-top:15px; text-align:center;"><button id="reset_credit_card" style="position:relative; margin:auto;" type="button" class="btn btn-sm btn-success">Reset Credit Card</button></div>
            {% endif %}

            <br />
            <span style="text-align:center;"><h1 id="accounts_sum"></h1></span>

            <table style="width:100%; margin-top:17px; margin-bottom:-15px; font-size:0.8rem;">
                <tr>
                    <td colspan="2" style="text-align:center;"><u>Current Exchange Rates</u></td>
                </tr>
                <tr style="color: slategrey;">
                    <td id="CAD_USD_rate" style="text-align:right; width:50%; padding-right:12px;"></td>
                    <td id="CAD_EUR_rate" style="text-align:left; width:50%; padding-left:25px;"></td>
                </tr>
                <tr style="color: slategrey;">
                    <td id="USD_CAD_rate" style="text-align:right; width:50%; padding-right:12px;"></td>
                    <td id="EUR_CAD_rate" style="text-align:left; width:50%; padding-left:25px;"></td>
                </tr>
            </table>

            <hr>

            <div id="net_worth_chart_div" style="position:relative;">
                <div style="margin:0; text-align:center;">
                    <h4>Value of Accounts</h4>
                    <canvas id="net_worth_chart" width="375" height="250"></canvas>
                    <br>
                    <select class="form-control form-control-sm" id="net_worth_chart_select" style="width:80%; margin:auto;">{{net_worth_chart_options | safe}}</select>
                </div>
            </div>

            <div id="purchase_category_div" style="margin:0; text-align:center; position:relative;">
                <hr>
                <h4>Purchase Category Breakdown</h4>
                <canvas id="purchase_category_pie_chart" width="375" height="250"></canvas>
                <button id="category_counts" type="button" class="btn btn-sm btn-outline-primary">Counts</button>
                <button id="category_sums" type="button" class="btn btn-sm btn-outline-primary">Sums</button>
                <button id="category_counts_percents" type="button" class="btn btn-sm btn-outline-primary">Counts (%)</button>
                <button id="category_sums_percents" type="button" class="btn btn-sm btn-outline-primary">Sums (%)</button>
            </div>

            <hr>

            <table id="filter_table" style="width:100%;">
                <tr id="filter_table_all_row">
                    <td colspan="2" style="width:100%; text-align:center; padding-bottom:10px;">
                        <a id="All Categories" class="no_filter filter_identifier" href="">ALL CATEGORIES</a>
                    </td>
                </tr>

                <!-- {% for filter_tuple in purchase_categories_tuples_list %}
                    <tr class="category_sizing">
                        <td style="width:50%; text-align:right; padding-right:10px;">
                            <a id="{{filter_tuple.0}}" class="filter_identifier" href="">{{filter_tuple.0}}</a>
                        </td>
                        <td style="width:50%; text-align:left; padding-left:10px;">
                            <a id="{{filter_tuple.1}}"  class="filter_identifier" href="">{{filter_tuple.1}}</a>
                        </td>
                    </tr>
                {% endfor %} -->
            </table>

            <br />

            <div class="row" style="width:100%;">
                <span style="width:100%;">
                      <input style="display:inline-block; text-align:center; width:120px; float:left; margin-left:21%;" class="form-control" type="text" pattern="\d*" placeholder="From..." id="datepicker">
                      <input style="display:inline-block; text-align:center; width:120px; float:right; margin-right:12%;" class="form-control" type="text" pattern="\d*" placeholder="To..." id="datepicker_2">
                </span>
            </div>

            <div class="row" style="margin-top:5px; width:100%;">
                <span style="width:100%;">
                    <input style="display:inline-block; text-align:center; width:120px; float:left; margin-left:21%;" class="form-control" type="text" pattern="\d*" placeholder="Exclude..." id="date_to_exclude">
                    <input style="display:inline-block; text-align:center; width:120px; float:right; margin-right:12%;" class="form-control" type="number" inputmode="decimal" placeholder="$ Limit..." id="maximum_amount">
                </span>
            </div>

            <div class="row" style="margin-top:16px; width:100%;">
                <input style="text-align:center; width:300px; margin-left:13.75%;" class="form-control" type="text" placeholder="Search..." id="search">
            </div>

            <hr>

            <div style="padding:0 4px;" class="col-sm-12">

                <h2 id="purchase_list_header" class="purchase_header">Purchases</h2>
                <div style="text-align:center;"><small id="savings_rate"></small></div>

                <div class="wrapper" style="position:sticky; top:3.25rem;">
                    <div id="past_period_1" class="box a" style="justify-content:left; padding-left:7px;"></div>
                    <div id="past_period_2" class="box b" style="justify-content:left; padding-left:7px;"></div>
                    <div id="past_period_3" class="box c" style="justify-content:left; padding-left:7px;"></div>
                    <div id="past_period_4" class="box d" style="justify-content:left; padding-left:7px;"></div>
                    <div id="purchases_count" class="box e"></div>
                    <div id="total_spent" class="box f"></div>
                </div>

                <div id="purchase_list_div"></div>

            </div>

        </div>

    </body>
</html>

<script type="module">
    import {Spinner} from "{% static 'js/spin.js/spin.js' %}";

    var opts = {
        lines: 10, // The number of lines to draw
        length: 38, // The length of each line
        width: 17, // The line thickness
        radius: 45, // The radius of the inner circle
        scale: 0.5, // Scales overall size of the spinner
        corners: 1, // Corner roundness (0..1)
        speed: 1, // Rounds per second
        rotate: 0, // The rotation offset
        animation: 'spinner-line-fade-quick', // The CSS animation name for the lines
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#282730', // CSS color or array of colors
        fadeColor: 'transparent', // CSS color or array of colors
        top: '53%', // Top position relative to parent
        left: '50%', // Left position relative to parent
        shadow: '0 0 1px transparent', // Box-shadow for the lines
        zIndex: 970, // The z-index (defaults to 2e9)
        className: 'spinner', // The CSS class to assign to the spinner
        position: 'absolute', // Element positioning
    };

    var opts_accounts = {
        lines: 10, // The number of lines to draw
        length: 38, // The length of each line
        width: 17, // The line thickness
        radius: 45, // The radius of the inner circle
        scale: 0.5, // Scales overall size of the spinner
        corners: 1, // Corner roundness (0..1)
        speed: 1, // Rounds per second
        rotate: 0, // The rotation offset
        animation: 'spinner-line-fade-quick', // The CSS animation name for the lines
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#282730', // CSS color or array of colors
        fadeColor: 'transparent', // CSS color or array of colors
        top: '49%', // Top position relative to parent
        left: '50%', // Left position relative to parent
        shadow: '0 0 1px transparent', // Box-shadow for the lines
        zIndex: 970, // The z-index (defaults to 2e9)
        className: 'spinner', // The CSS class to assign to the spinner
        position: 'absolute', // Element positioning
    };

    var search_string;


    if ('{{debit_account}}' === 'Not set' || '{{credit_account}}' === 'Not set') {
        $('#reset_credit_card').prop('disabled', true);
    }

    $(document).ready(function() {

        var initial_page_load

        // Set the date filters
        $('#datepicker').val('{{start_date}}');
        $('#datepicker_2').val('{{end_date}}');
        $('#date_to_exclude').val('{{date_to_exclude}}');
        $('#maximum_amount').val('{{maximum_amount}}');


        // Display the modal and modal background if a Purchase <li> is clicked
        $(document).on('click', '.purchase_list_items', function(e) {
            $('#purchase_modal_background').css('visibility', 'visible');
            $('#purchase_modal').css({opacity: 0.0, visibility: 'visible'}).animate({opacity: 1.0});
            if ($(this).data('url') !== '') {
                $('#view_receipt_button').data('url', $(this).data('url'));
                $('#view_receipt_button').prop('disabled', false);
            }
            else {
                $('#view_receipt_button').prop('disabled', true);
            }
            $('#delete_purchase_button').data('id', $(this).data('id'));
        });

        // After deletion or click outside of the modal, it must be re-hidden, and the data-id and data-url attributes reset to ''
        var hide_and_reset_modal = function() {
            $('#purchase_modal_background').css('visibility', 'hidden');
            $('#purchase_modal').css('visibility', 'hidden');
            // Unnecessary, but cleaner...
            $('#view_receipt_button').data('url', '');
            $('#delete_purchase_button').data('id', '');
        }

        // Hide the modal and modal background if anything other than the modal or nav header is clicked
        $('#purchase_modal_background').on('click', function(e) {
            hide_and_reset_modal();
        });

        // Link to the S3 file of the Purchase receipt
        $('#view_receipt_button').on('click', function(e) {
            window.open($(this).data('url')); // Browser settings should dictate whether this opens in new tab or window
        });

        // Delete the selected Purchase
        $('#delete_purchase_button').on('click', function(e) {
          $.ajax({
              type: 'POST',
              url: 'delete_purchase/',
              data: {
                     csrfmiddlewaretoken: '{{ csrf_token }}',
                     'id': $(this).data('id'),
              },
              context: this, // To allow access in the callback functions
              success: function (response) {
                  console.log('Deleted Purchase: ' + $(this).data('id'));

                  get_queryset();
                  hide_and_reset_modal();
              },
              error: function (response) {
                  alert('\nThere was an issue deleting Purchase: ' + $(this).data('id'));
              }
          });
        });


        // Clear the date and time fields when clicked, as we only would click if we wanted to alter the values
        $('#datepicker, #datepicker_2, #date_to_exclude, #maximum_amount, #search').on('focus', function(e) {
            $(this).val('');
        });


        // Limit text entry to only numbers
        $('#datepicker, #datepicker_2, #date_to_exclude').on('keydown', function(e) {
            // console.log($(this).val().length);
            if ([4,7].includes($(this).val().length) && e.key !== 'Backspace' && Number.isInteger(parseInt(e.key))) {
                $(this).val($(this).val() + '-');
            }
            if ((!Number.isInteger(parseInt(e.key)) && !['Backspace', 'Enter', 'Tab'].includes(e.key)) || ($(this).val().length > 9  && !['Backspace', 'Enter', 'Tab'].includes(e.key))) { // Still necessary to check if it's a letter because forms.py attributes aren't working
                e.preventDefault();
            }
            if ($(this).val().length === 5 && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 6 && $(this).val()[5] === '1' && !['0', '1', '2', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 6 && $(this).val()[5] === '2' && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 8 && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 9 && $(this).val()[8] === '3' && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
        });

        $('#datepicker, #datepicker_2, #date_to_exclude').on('keyup', function(e) {
            if ($(this).val().length === 10) {
                $(this).blur();
            }
        });


        $(document).on('keyup', '#account_table input', function() {
            if ($(this).val().includes('.') && $(this).val().split('.')[1].length === 2) {
                $(this).blur();
            }
        });


        $('#maximum_amount').on('keyup', function() {
            if ($(this).val().includes('.') && $(this).val().split('.')[1].length === 2) {
                $(this).blur();
            }
        });


        var get_accounts_sum = function() {
            $.ajax({
                type: 'GET',
                url: 'get_accounts_sum/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function(response) {
                    console.log('Retrieved accounts sum!');
                    console.log(response);

                    $('#account_table').html(response['accounts_form'])

                    $('#accounts_sum').html(response['accounts_sum']);
                    $('#CAD_USD_rate').html(response['exchange_rates']['CAD_USD']);
                    $('#CAD_EUR_rate').html(response['exchange_rates']['CAD_EUR']);
                    $('#USD_CAD_rate').html(response['exchange_rates']['USD_CAD']);
                    $('#EUR_CAD_rate').html(response['exchange_rates']['EUR_CAD']);
                }
            });
        }

        // Populate the Accounts sum value upon initial page load
        get_accounts_sum();


        var enable_filters = function(enable) {
            if (enable === true) {
                $('#datepicker, #datepicker_2, #date_to_exclude, #maximum_amount, #search').prop('disabled', false);
                $('.filter_identifier').removeClass('disable_link');
            }
            else {
                $('#datepicker, #datepicker_2, #date_to_exclude, #maximum_amount, #search').prop('disabled', true);
                $('.filter_identifier').addClass('disable_link');
            }
        }


        // General function to fetch the Queryset and populate the page with it
        var get_queryset = function(initial_page_load=false, search_string='') {
            enable_filters(false);

            // console.log(search_string)
            $.ajax({
                type: 'GET',
                url: 'get_purchases/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                       'search_string': search_string, },
                success: function(response) {
                    console.log('Retrieved purchases!');
                    console.log(response); // object

                    // Update the relevant Purchase Categories
                    $(document).find('#filter_table tr').not('#filter_table_all_row').remove();

                    $.each(response['purchase_category_tuples'], function(key, tuple) {
                        let a = tuple[0]
                        let b = tuple[1] === undefined ? '' : tuple[1]

                        $('#filter_table').append(`
                            <tr class="category_sizing">
                                <td style="width:50%; text-align:right; padding-right:10px;">
                                    <a id="${a}" class="filter_identifier" href="">${a}</a>
                                </td>
                                <td style="width:50%; text-align:left; padding-left:10px;">
                                    <a id="${b}"  class="filter_identifier" href="">${b}</a>
                                </td>
                            </tr>
                        `)
                    });

                    $.ajax({
                        type: 'GET',
                        url: 'filters/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                                'page': 'Activity',                     },
                        success: function(response) {
                            $.each(response, function(index, category_filter) {
                                  $(document).find('#' + $.escapeSelector(category_filter)).addClass('green_filters');
                            });
                        }
                    });

                    $('#savings_rate').html(response['savings_rate']['rate'] + ' (Start: $' + response['savings_rate']['start'] + ' | End: $' + response['savings_rate']['end'] + ')');


                    $('#total_spent').html(response['purchases_sum']); // Set the total amount spent
                    $('#past_period_1').html(response['past_periods']['labels'][0] + ': $' + response['past_periods']['values'][0].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
                    $('#past_period_2').html(response['past_periods']['labels'][1] + ': $' + response['past_periods']['values'][1].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
                    $('#past_period_3').html(response['past_periods']['labels'][2] + ': $' + response['past_periods']['values'][2].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
                    $('#past_period_4').html(response['past_periods']['labels'][3] + ': $' + response['past_periods']['values'][3].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))

                    $('#purchases_count').html(response['data'].length.toLocaleString()); // Will add commas

                    if (response['data'].length > 0) {
                        $('#purchase_list_header').html('Purchases');
                        $('#no_purchases_spacing').hide();
                        if (response['categories_count'] > 1) {
                            $('#purchase_category_div').show();
                            purchase_category_chart(search_string);
                        }
                        else {
                            $('#purchase_category_div').hide();
                        }
                    }
                    else if ($('#purchase_list_header').text() !== 'No purchases to list!') {
                        $('#purchase_list_header').text('No purchases to list!');
                        $('#purchase_category_div').hide();
                    }

                    $('#purchase_list_div').html('');
                    $('#purchase_list_div').html(
                        function() {
                            let purchase_list = '<ul class="list_container" style="padding-left:0; margin:22px 0 0;">';
                            $.each(response['data'], function(key, value) {
                                let id = value.id;
                                let date = value.date;
                                let time = value.time;
                                let amount = value.amount;
                                let category = value.category__category;
                                let amount_2 = value.amount_2;
                                let category_2 = value.category_2__category;
                                let item = value.item;
                                let description = value.description;
                                let receipt = value.url;

                                let category_spacer = ' ';
                                let description_spacer = '';

                                if (category_2 === null) {
                                    category_2 = '';
                                }
                                else {
                                    category_spacer = ' | ';
                                }
                                if (amount_2 === null) {
                                    amount_2 = '';
                                }
                                else {
                                    amount_2 = '+ $'.concat(amount_2);
                                }
                                if (description !== '') {
                                    description_spacer = ' | ';
                                }

                                // purchase_list = purchase_list.concat('<div style="position:relative;"><li class="purchase_list_items" style="display:inline-block; width:95%;">');
                                purchase_list = purchase_list.concat(`<li data-id="${id}" data-url="${receipt}" class="purchase_list_items" style="display:inline-block; width:100%;">`);
                                purchase_list = purchase_list.concat(`<h6 style="margin-top:8px;"><b>${date}, ${time}</b>: <span style="font-size:1.4rem;" class="blue_text">$${amount} ${amount_2}</span>`);
                                if (receipt !== '') {
                                    purchase_list = purchase_list.concat('<img style="width:17px; height:17px; margin:0 5px 5px;" src="{% static 'images/camera_glyph.png' %}"></h6>');
                                }
                                else {
                                    purchase_list = purchase_list.concat('</h6>');
                                }
                                purchase_list = purchase_list.concat(`<h6><u>${category}</u>${category_spacer}<u>${category_2}</u> | <b>${item}</b>${description_spacer}<span class="purchase_description"><i>${description}</i></span></h6></li>`);
                            });

                            return purchase_list.concat('</ul>');
                        }
                    );
                    // if (initial_page_load === false) {
                    //     if ($('#purchase_category_div').is(':hidden')) {
                    //         window.scrollTo({top: $('#filter_table').offset().top - 50, behavior: 'smooth'});
                    //     }
                    //     else {
                    //         window.scrollTo({top: $('#purchase_category_div').offset().top, behavior: 'smooth'});
                    //     }
                    // }

                    enable_filters(true);
                }
            });
        }

        // Populate the Purchase list upon initial page load
        get_queryset(initial_page_load=true);


        function net_worth_chart() {
            var spinner_1 = new Spinner(opts_accounts).spin(document.getElementById('net_worth_chart_div'));

            $.ajax({
                type: 'GET',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                       'account': $('#net_worth_chart_select').val() },
                url: 'net_worth_chart/',
                success: function(response) {
                    console.log('Received net worth chart data!');
                    console.log(response);

                    spinner_1.stop();

                    var ctx = document.getElementById('net_worth_chart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: response['labels'],
                            datasets: [{
                                label: 'Dollars',
                                data: response['values'],
                                backgroundColor: [
                                    // 'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    // 'rgba(255, 206, 86, 0.2)',
                                    // 'rgba(75, 192, 192, 0.2)',
                                    // 'rgba(153, 102, 255, 0.2)',
                                    // 'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    // 'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    // 'rgba(255, 206, 86, 1)',
                                    // 'rgba(75, 192, 192, 1)',
                                    // 'rgba(153, 102, 255, 1)',
                                    // 'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1,
                            }],
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: false,
                                        callback: function(value) {
                                            return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        }
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        fontSize: 8
                                    }
                                }]
                            }
                        }
                    });
                }
            });
        }

        net_worth_chart();


        // Refresh with the specified Account's data
        $('#net_worth_chart_select').on('change', function() {
            net_worth_chart();
        });


        function purchase_category_chart(search_string='') {
            var spinner_2 = new Spinner(opts).spin(document.getElementById('purchase_category_div'));

            $.ajax({
                type: 'GET',
                url: 'purchase_category_chart/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                       'search_string': search_string, },
                context: this,
                success: function(response) {
                    console.log('Received Purchase Category pie chart data!');
                    console.log(response);

                    spinner_2.stop();

                    $('#category_counts, #category_sums, #category_counts_percents, #category_sums_percents').addClass('btn-outline-primary').removeClass('btn-outline-success');
                    $('#category_' + response['mode']).addClass('btn-outline-success').removeClass('btn-outline-primary');

                    if (response['pie_labels'].length > 1) { // Hiding and showing is taken care of in get_queryset()
                        var ctx_pie = document.getElementById('purchase_category_pie_chart').getContext('2d');
                        var myPieChart = new Chart(ctx_pie, {
                            type: 'pie',
                            data: {
                                labels: response['pie_labels'],
                                datasets: [{
                                    label: 'Category',
                                    data: response['pie_values'],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.4)',
                                        'rgba(255, 206, 86, 0.4)',
                                        'rgba(75, 192, 192, 0.4)',
                                        'rgba(153, 102, 255, 0.4)',
                                        'rgba(255, 99, 132, 0.4)',
                                        'rgba(54, 162, 235, 0.4)',
                                        'rgba(255, 206, 86, 0.4)',
                                        // 'rgba(75, 192, 192, 0.4)',
                                        // 'rgba(54, 162, 235, 0.4)',
                                        // 'rgba(153, 102, 255, 0.4)',
                                    ],
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                legend: {
                                    display: false
                                },
                                plugins: {
                                    labels: [
                                    {
                                        render: 'label',
                                        position: 'outside',
                                        fontColor: 'slategray',
                                    },
                                    {
                                        render: function(args) {
                                            if (response['mode'].includes('percent')) {
                                                return Math.round(args.value, 2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '%';
                                            }
                                            else if (String(args.value).includes('.')) {
                                                return '$' + Math.round(args.value, 2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                            }
                                            else {
                                                return args.value;
                                            }
                                        },
                                        fontColor: 'slategray',
                                    }]
                                }
                            }
                        });
                    }
                }
            });
        }
        // Run on page load from get_queryset()

        $('#category_counts, #category_sums, #category_counts_percents, #category_sums_percents').on('click', function (e) {
            if (!$(this).hasClass('btn-outline-success')) {
                $.ajax({
                    type: 'POST',
                    url: 'filters/',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'page': 'Activity',
                            'type': 'Mode',
                            'id': $(this).attr('id'),
                    },
                    context: this,
                    success: function(response) {
                        console.log('Changed Purchase Category pie chart mode to: ' + $(this).attr('id').split('_')[1]); // DO NOT NEED TO CALL get_accounts_sum() or net_worth_chart(), because decrement in CC accompanied by decrement in chequing balance
                        purchase_category_chart();
                    },
                    error: function() {
                        alert('\nError changing Purchase Category pie chart mode!');
                    },
                });
            }
        });


        $(document).on('change', '#account_form input', function(e) {
            if ($(this).val().trim() !== '' && parseFloat($(this).val()) !== parseFloat($(this).attr('placeholder').substring(1).trim().replace(',', ''))) { // When the value is cleared or the placeholder value is typed, this function shouldn't run
                $.ajax({
                    type: 'POST',
                    url: 'account_update/',
                    data: {
                           csrfmiddlewaretoken: '{{ csrf_token }}',
                           'id': $(this).attr('id'),
                           'value': $(this).val(),
                    },
                    context: this, // To allow access in the callback functions
                    success: function (response) {
                        console.log($(this).attr('id') + ' updated to: ' + $(this).val());
                        // $.each(response, function(id, account_placeholder) {
                        //     $('#' + $.escapeSelector(id)).attr('placeholder', account_placeholder);
                        // });
                        get_accounts_sum();
                        net_worth_chart();
                    },
                    error: function () {
                        alert('\nThere was an issue updating the value for: ' + $(this).attr('id').substring(3));
                    }
                });
            }
        });


        $('#reset_credit_card').on('click', function (e) {
            $.ajax({
                type: 'POST',
                url: 'reset_credit_card/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function(response) {
                    $('#id_' + $.escapeSelector(response['credit_account'])).val('');
                    $('#id_' + $.escapeSelector(response['credit_account'])).attr('placeholder', '$                0.00');
                    $('#id_' + $.escapeSelector(response['debit_account'])).val('');
                    $('#id_' + $.escapeSelector(response['debit_account'])).attr('placeholder', response['debit_account_balance']);
                    console.log('Credit card successfully reset!'); // DO NOT NEED TO CALL get_accounts_sum() or net_worth_chart(), because decrement in CC accompanied by decrement in chequing balance
                },
                error: function() {
                    alert('\nError resetting credit card!');
                },
            });
        });


        $(document).on('click', 'a.filter_identifier', function(e) {
            e.preventDefault()

            enable_filters(false);

            if ($(this).hasClass('green_filters')) {
                $(this).removeClass('green_filters');
            }
            else {
                $(this).addClass('green_filters');
            }

            $(this).blur(); // Without this, the anchor link remains selected after being clicked

            $.ajax({
                type: 'POST',
                url: 'filters/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'page': 'Activity',
                        'type': 'Category',
                        'id': $(this).attr('id'),
                },
                context: this, // To allow access in the callback functions
                success: function (response) {
                    console.log('Filter POST successful!');
                    $('a.filter_identifier').removeClass('green_filters');
                    $.each(response, function(index, category_filter) {
                          $('#' + $.escapeSelector(category_filter)).addClass('green_filters');
                          // console.log(category_filter);
                    });
                    get_queryset();
                },
                error: function() {
                    alert('\nThere was an issue updating the filter: ' + $(this).attr('id'));
                    enable_filters(true);
                }
            });
            return false;
        });


        // When switching from a date to blank string, the 'change' event does not fire
        $('#datepicker, #datepicker_2').on('focusout', function(e) {
            if ($(this).val() === '') {
                $.ajax({
                    type: 'POST',
                    url: 'filters/',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'page': 'Activity',
                            'type': 'Date',
                            'id': $(this).attr('id'),
                            'filter_value': $(this).val(), },
                    context: this,
                    success: function(response) {
                        console.log('Date filter updated!');
                        get_queryset();
                    },
                    error: function() {
                        alert('\nError updating date filter to: ' + $(this).val());
                        $(this).val('');
                    },
                });
            }
        });


        $('#date_to_exclude, #maximum_amount').on('focusout', function(e) {
            $.ajax({
                type: 'POST',
                url: 'filters/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'page': 'Activity',
                        'type': 'Extra Filters',
                        'id': $(this).attr('id'),
                        'filter_value': $(this).val(), },
                context: this,
                success: function(response) {
                    console.log('Filter updated!');
                    get_queryset();
                },
                error: function() {
                    alert('\nError updating the filter to: ' + $(this).val());
                    $(this).val('');
                },
            });
        });


        // When switching from a date to blank string, the 'change' event does not fire
        $('#date_to_exclude, #maximum_amount').on('focusout', function(e) {
            if ($(this).val() === '') {
                $.ajax({
                    type: 'POST',
                    url: 'filters/',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'page': 'Activity',
                            'type': 'Extra Filters',
                            'id': $(this).attr('id'),
                            'filter_value': $(this).val(), },
                    context: this,
                    success: function(response) {
                        console.log('Filter updated!');
                        get_queryset();
                    },
                    error: function() {
                        alert('\nError updating date filter to: ' + $(this).val());
                        $(this).val('');
                    },
                });
            }
        });


        $('.filter_identifier, #datepicker, #datepicker_2, #date_to_exclude, #maximum_amount').on('click', function() { $('#search').val(''); });


        // When switching from a date to blank string, the 'change' event does not fire
        $('#search').on('change', function(e) {
            get_queryset(initial_page_load=false, search_string=$('#search').val()); // This optional argument will be passed to the views.py function, and it will filter the results appropriately
        });


        $('#datepicker, #datepicker_2').on('change', function(e) {
            console.log('Start date: ' + $('#datepicker').val());
            console.log('End date: ' + $('#datepicker_2').val());

            // Make sure the start date is not later than the end date
            if($('#datepicker').val() !== '' && $('#datepicker_2').val() !== '' & $('#datepicker').val() > $('#datepicker_2').val()){
                alert('The start date cannot be later than the end date.');
                $(this).val('');
            }
            else if ($('#datepicker').val().length != 0 && $('#datepicker').val().length != 10 || $('#datepicker_2').val().length != 0 && $('#datepicker_2').val().length != 10) {
                alert('\nPlease enter a valid date.');
                $(this).val('');
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: 'filters/',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'page': 'Activity',
                            'type': 'Date',
                            'id': $(this).attr('id'),
                            'filter_value': $(this).val(), },
                    context: this,
                    success: function(response) {
                        console.log('Date filter updated!');
                        get_queryset();
                    },
                    error: function() {
                        alert('\nError updating date filter to: ' + $(this).val());
                        $(this).val('');
                    },
                });
            }
        });

    });

</script>
