<!DOCTYPE html>
<html lang="en">

    <head>
         {% load static %}

         <link rel="shortcut icon" href="{% static 'images/money_bulb.png' %}">

         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
         <meta name="description" content="Finances Tracker web application.">
         <meta name="author" content="Brendan Dagys">

         <link href="{% static 'css/style.css' %}" rel="stylesheet">

         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->

        <!-- Chart.js -->
         <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

         <!-- JQuery -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

         <script src="{% static 'js/linear_regression.js' %}"></script>

         <title>Purchase Form and Charts</title>
    </head>

    <body>

        <div class="lighter_background container-fluid">
            <div class="row">

                <div class="navigation_link col-sm-12">
                    <a class="homepage_link" style="z-index:999 !important;" href="{% url 'activity' %}">Purchases/Account Balances</a>
                </div>

                <br><br>

                <a id="custom_anchor_link_4" style="margin:auto;" class="text-primary small">Quick entry...</a>

                <div id="form_div" class="col-sm-12" style="height:500px;">

                    <form id="purchase_form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="center">
                            {{ purchase_form }}
                            <!-- {{ purchase_form.errors}} -->
                        </table> </br>

                        <input id="submit_button" style="margin-top:-5px;" class="btn btn-success" type="submit" value="Submit" name="purchase_form_submit">
                    </form>

                </div>
            </div>
        </div>

        <table style="width:100%;">
            <br>
            <tr>
                <td colspan="2" style="width:100%; text-align:center; padding-bottom:10px;">
                    <a id="All Categories" class="no_filter filter_identifier" href="">ALL CATEGORIES</a>
                </td>
            </tr>

            {% for filter_tuple in purchase_categories_tuples_list %}
                <tr class="category_sizing">
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="{{filter_tuple.0}}" class="filter_identifier" href="">{{filter_tuple.0}}</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="{{filter_tuple.1}}"  class="filter_identifier" href="">{{filter_tuple.1}}</a>
                    </td>
                </tr>
            {% endfor %}

        </table>

        <br />

        <div class="row" style="width:100%;">
            <span style="width:100%; margin-right:0;">
            <!-- <div class="col-sm-12"></div> -->
            <!-- <div align="center" class="col-sm-2"> -->
                  <!-- <p><b><small>From</small></b></p> -->
                  <input style="display:inline-block; text-align:center; width:120px; float:left; margin-left:21%;" class="form-control" type="text" pattern="\d*" placeholder="From..." type="text" id="datepicker">
            <!-- </div> -->

            <!-- <div align="center" class="col-sm-2"> -->
                  <!-- <p><b><small>To</small></b></p> -->
                  <input style="display:inline-block; text-align:center; width:120px; float:right; margin-right:13%;" class="form-control" type="text" pattern="\d*" placeholder="To..." type="text" id="datepicker_2">
            <!-- </div> -->
            <!-- <div class="col-sm-12"></div> -->
            </span>
        </div>

        <br>

        <div class="bottom_div">
            <div style="margin:0; text-align:center;">
                    <h3>Purchases Trend</h3>
                    <canvas id="spending_chart" width="375" height="250"></canvas>
            </div>
        </div>

        <br>

        <div class="bottom_div">
            <div style="margin:0; text-align:center;">
                    <h3>Weekly Trend</h3>
                    <canvas id="spending_chart_weekly" width="375" height="250"></canvas>
            </div>
        </div>

        <br>

        <div class="bottom_div">
            <div style="margin:0; text-align:center;">
                    <h3>Monthly Trend</h3>
                    <canvas id="spending_chart_monthly" width="375" height="250"></canvas>
            </div>
        </div>

        <br>

        <!-- <div class="modes col-sm-12">
          <button id="all_mode" type="button" class="modes btn btn-secondary">Send Alerts After Every Purchase</button>
          <button id="threshold_mode" type="button" class="modes btn btn-secondary">Send Alerts When Threshold Reached</button>
        </div> -->

    </body>

    <script>

        // $('label[for="id_amount"]').attr('style', 'position:relative; bottom:12px;'); // Was appearing too low...
        // $('label[for="id_description"]').attr('style', 'position:relative; bottom:9px;'); // Was appearing too low...
        $('#id_disable_credit_card').hide();

        $('#id_receipt').attr('accept', 'image/*');

        $(document).ready(function() {
            // Initial indication of the applied filters
            $.ajax({
                type: 'GET',
                url: 'filters/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'page': 'Homepage',                     },
                success: function(response) {
                    $.each(response, function(index, category_filter) {
                          $('#' + $.escapeSelector(category_filter)).addClass('green_filters');
                          // console.log(category_filter);
                    });
                }
            });

            // Set the date filters
            $('#datepicker').val('{{start_date}}');
            $('#datepicker_2').val('{{end_date}}');


            // Clear the date and time fields when clicked, as we only would click if we wanted to alter the values
            $('#datepicker,#datepicker_2').on('focus', function(e) {
                $(this).val('');
            });


            // Limit text entry to only numbers
            $('#datepicker, #datepicker_2').on('keydown', function(e) {
                // console.log($(this).val().length);
                if ([4,7].includes($(this).val().length) && e.key !== 'Backspace' && Number.isInteger(parseInt(e.key))) {
                    $(this).val($(this).val() + '-');
                }
                if ((!Number.isInteger(parseInt(e.key)) && !['Backspace', 'Enter', 'Tab'].includes(e.key)) || ($(this).val().length > 9  && !['Backspace', 'Enter', 'Tab'].includes(e.key))) { // Still necessary to check if it's a letter because forms.py attributes aren't working
                    e.preventDefault();
                }
                if ($(this).val().length === 5 && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                    e.preventDefault();
                }
                else if ($(this).val().length === 6 && $(this).val()[5] === '1' && !['0', '1', '2', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                    e.preventDefault();
                }
                else if ($(this).val().length === 6 && $(this).val()[5] === '2' && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                    e.preventDefault();
                }
                else if ($(this).val().length === 8 && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                    e.preventDefault();
                }
                else if ($(this).val().length === 9 && $(this).val()[8] === '3' && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                    e.preventDefault();
                }
            });

            // Hide 2 fields and add an anchor link button
            $('#id_category_2,#id_amount_2,label[for="id_category_2"],label[for="id_amount_2"],#id_currency,label[for="id_currency"]').hide();
            $('#id_amount').after('<tr id="custom_row"><td style="padding-top:5px;"><a id="custom_anchor_link" class="text-info" style="font-size:1rem;">Add 2<sup>nd</sup> category</a></td></tr>')
            $('#id_description').after('<tr id="custom_row_2"><td style="padding-top:4px;"><a id="custom_anchor_link_2" class="text-info" style="margin-top:20px; font-size:1rem;">Change currency</a></td></tr>')
            $('#id_description').after('<tr id="custom_row_3"><td style="padding-top:4px;"><a id="custom_anchor_link_3" class="text-info" style="margin-top:20px; font-size:1rem;">Incrementing default credit card...</a></td></tr>')


            // Clear the date and time fields when clicked, as we only would click if we wanted to alter the values
            $('#id_date,#id_time').on('focus', function(e) {
                $(this).val('');
            });


            // Limit text entry to only numbers
            $('#id_date, #id_time').on('keydown', function(e) {
                if (e.key === '-' || (!Number.isInteger(parseInt(e.key)) && !['Backspace', 'Enter', 'Tab'].includes(e.key)) ||
                   ($(this).attr('id') === 'id_date' && $(this).val().length > 9 ||
                    $(this).attr('id') === 'id_time' && $(this).val().length > 5) && !['Backspace', 'Enter', 'Tab'].includes(e.key)) { // Still necessary to check if it's a letter because forms.py attributes aren't working
                    e.preventDefault();
                }

                if ($(this).attr('id') === 'id_date' && [4,7].includes($(this).val().length) && e.key !== 'Backspace' && Number.isInteger(parseInt(e.key))) {
                    $(this).val($(this).val() + '-');
                }
                else if ($(this).attr('id') === 'id_time' && $(this).val().length === 2 && e.key !== 'Backspace' && Number.isInteger(parseInt(e.key))) {
                    $(this).val($(this).val() + ':');
                }

                if($(this).attr('id') === 'id_date') {
                    if ($(this).val().length === 5 && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                        e.preventDefault();
                    }
                    else if ($(this).val().length === 6 && $(this).val()[5] === '1' && !['0', '1', '2', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                        e.preventDefault();
                    }
                    else if ($(this).val().length === 6 && $(this).val()[5] === '2' && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                        e.preventDefault();
                    }
                    else if ($(this).val().length === 8 && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                        e.preventDefault();
                    }
                    else if ($(this).val().length === 9 && $(this).val()[8] === '3' && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                        e.preventDefault();
                    }
                }

                if($(this).attr('id') === 'id_time') {
                    if ($(this).val().length === 0 && !['0', '1', '2', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                        e.preventDefault();
                    }
                    else if ($(this).val() === '2' && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                        e.preventDefault();
                    }
                    else if ($(this).val().length === 3 && !['0', '1', '2', '3', '4', '5', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                        e.preventDefault();
                    }
                }
            })


            // Auto-fill and focus to specific fields when specific PurchaseCategories are selected
            $('#id_category').on('change', function(e) {
                $('#id_item').val('');
                $('#id_amount').val('');
                $('#id_category_2').val('');
                $('#id_amount_2').val('');
                if ($('#id_category :selected').text() === 'Gas') {
                    $('#id_description').text('');
                }
                else {
                    $('#id_description').val('');
                }

                if ($('#id_category :selected').text() === 'Coffee') { // Could not figure out how to select using JQuery
                    $('#id_item').val('Coffee at McDonalds'); // input elements must use .val()
                    $('#id_amount').val('2.10');
                    $('#id_description').focus().val('L, regular. '); // textarea elemented must be inserted into using .text()
                }
                else if ($('#id_category :selected').text() === 'Gas') {
                    $('#id_item').val('Gas at Esso');
                    $('#id_description').text(' L, $/L.');
                    $('#id_description').focus();
                }
                else if ($('#id_category :selected').text() === 'Groceries') {
                    $('#id_item').focus().val('Groceries at ');
                }
            });


            increase_form_height = function(additional_px) { // Increase the height of the form by the number of pixels passed in
                current_form_height = $('#form_div').height();
                $('#form_div').css('height', current_form_height + additional_px + 'px');
            }

            // Hide the links and re-show the hidden fields for category_2 and amount_2
            $('#custom_anchor_link').on('click', function(e) {
                $('#custom_anchor_link').hide();
                $('#id_category_2,#id_amount_2,label[for="id_category_2"],label[for="id_amount_2"]').show();
                increase_form_height(48);
            });
            // Assume default secondary currency is EUR
            $('#custom_anchor_link_2').on('click', function(e) {
                $('#custom_anchor_link_2').hide();
                $('#id_currency').val('EUR'); // REMOVE WHEN FUNCTIONALITY IS ADDED TO CHANGE DEFAULT CURRENCY
                $('#id_currency,label[for="id_currency"]').show();
                increase_form_height(14);
            });
            // Disable incrementing of the credit card balance for this purchase
            $('#custom_anchor_link_3').on('click', function(e) {
                if ($('#custom_anchor_link_3').text() === 'Incrementing default credit card...') {
                    $('#custom_anchor_link_3').text('Incrementing default debit account...');
                    $('#id_disable_credit_card').prop('checked', true);
                }
                else {
                    $('#custom_anchor_link_3').text('Incrementing default credit card...');
                    $('#id_disable_credit_card').prop('checked', false);
                }
            });


            $('a.filter_identifier').on('click', function(e) {
                e.preventDefault()

                $(this).blur(); // Without this, the anchor link remains selected after being clicked

                $.ajax({
                    type: 'POST',
                    url: 'filters/',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'page': 'Homepage',
                            'type': 'Category',
                            'id': $(this).attr('id'),
                    },
                    context: this, // To allow access in the callback functions
                    success: function (response) {
                        console.log('Filter POST successful!');
                        $('a.filter_identifier').removeClass('green_filters');
                        $.each(response, function(index, category_filter) {
                              $('#' + $.escapeSelector(category_filter)).addClass('green_filters');
                              // console.log(category_filter);
                        });
                        charts();
                    },
                    error: function() {
                        console.log('There was an issue updating the filter: ' + $(this).attr('id'));
                    }
                });
                return false;
            });


            // When switching from a date to blank string, this ensures that the 'change' event fires
            $(document).on('focusout', '#datepicker, #datepicker_2', function(e) {
                if ($(this).val() === '') {
                    $.ajax({
                        type: 'POST',
                        url: 'filters/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                                'page': 'Homepage',
                                'type': 'Date',
                                'id': $(this).attr('id'),
                                'filter_value': $(this).val(), },
                        context: this,
                        success: function(response) {
                            console.log('Date filter updated!');
                            charts();
                        },
                        error: function() {
                            console.log('Error updating date filter.');
                        },
                  });
                }
            });


            $(document).on('change', '#datepicker, #datepicker_2', function(e) {
                console.log('Start date: ' + $('#datepicker').val());
                console.log('End date: ' + $('#datepicker_2').val());

                // Make sure the start date is not later than the end date
                if($('#datepicker').val() !== '' && $('#datepicker_2').val() !== '' & $('#datepicker').val() > $('#datepicker_2').val()){
                    alert('The start date cannot be later than the end date.');
                    $(this).val('');
                }
                else if ($('#datepicker').val().length != 0 && $('#datepicker').val().length != 10 || $('#datepicker_2').val().length != 0 && $('#datepicker_2').val().length != 10) {
                    alert('\nPlease enter a valid date.');
                    $(this).val('');
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: 'filters/',
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                                'page': 'Homepage',
                                'type': 'Date',
                                'id': $(this).attr('id'),
                                'filter_value': $(this).val(), },
                        context: this,
                        success: function(response) {
                            console.log('Date filter updated!');
                            charts();
                        },
                        error: function() {
                            console.log('Error updating date filter.');
                        },
                    });
                }
            })


            // var mode;
            //
            // $.ajax({
            //     type: 'GET',
            //     url: 'mode/',
            //     data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
            //     success: function(response) {
            //       mode = response['mode'];
            //       if (mode === 'All') {
            //           $('button[id="all_mode"]').addClass('btn-success');
            //       }
            //       else if (mode === 'Threshold') {
            //           $('button[id="threshold_mode"]').addClass('btn-success');
            //       }
            //       console.log('Retrieved mode: '.concat(mode));
            //     }
            // });


            function charts() {

                $.ajax({
                    type: 'GET',
                    url: 'charts/',
                    success: function(response) {
                            console.log(response);
                        var ctx = document.getElementById('spending_chart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            plugins: [ChartRegressions],
                            data: {
                                labels: response['labels_daily'],
                                datasets: [{
                                    label: 'Dollars Spent',
                                    data: response['values_daily'],
                                    regressions: {
                                        type: 'linear',
                                        line: { color: 'red', width: 1},
                                    },
                                    backgroundColor: [
                                        // 'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        // 'rgba(255, 206, 86, 0.2)',
                                        // 'rgba(75, 192, 192, 0.2)',
                                        // 'rgba(153, 102, 255, 0.2)',
                                        // 'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        // 'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        // 'rgba(255, 206, 86, 1)',
                                        // 'rgba(75, 192, 192, 1)',
                                        // 'rgba(153, 102, 255, 1)',
                                        // 'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1,
                                }],
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: false
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            fontSize: 8
                                        }
                                    }]
                                }
                            }
                        });


                        var ctx = document.getElementById('spending_chart_weekly').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            plugins: [ChartRegressions],
                            data: {
                                labels: response['labels_weekly'],
                                datasets: [{
                                    label: 'Dollars Spent',
                                    data: response['values_weekly'],
                                    regressions: {
                                        type: 'linear',
                                        line: { color: 'red', width: 1},
                                    },
                                    backgroundColor: [
                                        // 'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        // 'rgba(255, 206, 86, 0.2)',
                                        // 'rgba(75, 192, 192, 0.2)',
                                        // 'rgba(153, 102, 255, 0.2)',
                                        // 'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        // 'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        // 'rgba(255, 206, 86, 1)',
                                        // 'rgba(75, 192, 192, 1)',
                                        // 'rgba(153, 102, 255, 1)',
                                        // 'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1,
                                }],
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: false
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            fontSize: 8
                                        }
                                    }]
                                }
                            }
                        });


                        var ctx = document.getElementById('spending_chart_monthly').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            plugins: [ChartRegressions],
                            data: {
                                labels: response['labels_monthly'],
                                datasets: [{
                                    label: 'Dollars Spent',
                                    data: response['values_monthly'],
                                    regressions: {
                                        type: 'linear',
                                        line: { color: 'red', width: 1},
                                    },
                                    backgroundColor: [
                                        // 'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        // 'rgba(255, 206, 86, 0.2)',
                                        // 'rgba(75, 192, 192, 0.2)',
                                        // 'rgba(153, 102, 255, 0.2)',
                                        // 'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        // 'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        // 'rgba(255, 206, 86, 1)',
                                        // 'rgba(75, 192, 192, 1)',
                                        // 'rgba(153, 102, 255, 1)',
                                        // 'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1,
                                }],
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: false
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            fontSize: 8
                                        }
                                    }]
                                }
                            }
                        });
                    }
                });
            }

            charts();


            // $('button[id="all_mode"]').on('click', function(e) {
            //     $.ajax({
            //         type: 'POST',
            //         url: 'mode/',
            //         data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'mode': 'All'},
            //         success: function(response) {
            //           $(this).addClass('btn-success');
            //           $('button[id="all_mode"]').addClass('btn-success');
            //           $('button[id="threshold_mode"]').removeClass('btn-success');
            //           console.log('Updated mode to All!');
            //         }
            //     });
            // });

            // $('button[id="threshold_mode"]').on('click', function(e) {
            //     $.ajax({
            //         type: 'POST',
            //         url: 'mode/',
            //         data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'mode': 'Threshold'},
            //         success: function(response) {
            //           $(this).addClass('btn-success');
            //           $('button[id="threshold_mode"]').addClass('btn-success');
            //           $('button[id="all_mode"]').removeClass('btn-success');
            //           console.log('Updated mode to Threshold!');
            //         }
            //     });
            // });

        });

    </script>

</html>
