<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <link rel="shortcut icon" href="{% static 'images/money_bulb.png' %}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="description" content="Information for Finances Tracker web application.">
        <meta name="author" content="Brendan Dagys">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>Information</title>

    </head>

    <body>
        <br />

        <div class="container-fluid" style="max-width:700px;">

            <div class="col-sm-12" style="text-align:justify; font-size:0.75rem;">
                <br />
                <a href="{% url 'homepage' %}"><button class="btn">Return to Site</button></a>

                <h1 style="text-align:center;">Information</h1>

                <br /><br />

                <div style="text-align:center;">
                    This Web application was built to help track and monitor finances. It tracks spending habits, and also the value of various accounts that a user may possess.
                </div>

                <br /><br />

                <div style="text-align:center;">
                    The first page to mention is the Settings page, which allows each user to customize the application to suit their needs. Users can set their default accounts to charge purchases to, and also set their default currency (say, in the case of a trip abroad...).
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/Profile Form.png' %}">
                    <br /><br />
                    Below, purchase categories specific to their lifestyle can be added, edited, and their thresholds set for display at the bottom of the Form + Charts page.
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/Purchase Category Form.png' %}">
                    <br /><br />
                    Next, accounts can be added and edited in a similar manner, with an ability to activate/deactive them when desired.
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/Account Form.png' %}">
                    <br /><br />
                    The next section of this page allows users to input recurring payments, or bills, that will automatically be added to and tracked by the application, to alleviate manual effort and ensure that all expenses are tracked. These are very customizable, and can be set to recur every X days/weeks/months, on a specific date/day of the month/week, and also with more complicated parameters.
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/Recurring Payment Table + Form.png' %}">
                    <br /><br />
                    Finally, users can add pre-defined purchases, accessible through the 'Quick entry...' link above the purchase form, to enable quick entry of common purchases.
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/Quick Entries Table + Form.png' %}">
                </div>

                <br />

                <div style="text-align:center;">
                    On the Form + Charts page, users can enter their purchases using the form at the top of the page. They can choose a date, time, amount, category, and add details. Users can also upload a photo of their receipt for later viewing. Finally, users can select which account made the purchase, and that account's value will be automatically incremented/decremented.
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/Purchase Form.png' %}">
                    <br /><br />
                    Below the purchase form is a filter panel that allows the user to choose which purchase categories to include for population of the four charts below. Users can even exclude a specific date or set a maximum amount threshold, to remove dates that would skew the results. These charts reflect purchase trends over the date range desired, by day, by week, bi-weekly, and monthly.
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/Filters and Purchase Chart.png' %}">
                    <br /><br />
                    At the bottom of this page are progress bars that show the user how much they have spent in various categories in the past while. Users can set both the threshold and the duration for which to calculate the progress, as described above.
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/Monthly Chart and Thresholds.png' %}">
                </div>

                <br />

                <div style="text-align:center;">
                    On the Accounts + Balances page, a table displaying the value of each account is presented at the top. The sum is calculated and placed below to show the full values of all accounts (currencies will be converted to CAD for a true representation). A line chart also resides below, to display the growth of a user's accounts, and can be changed to display only one chart at a time.
                    <br /><br />
                    Below this are more filters for purchases, exactly as on the Form + Charts page. These filters also include a search field to locate specific purchases.
                    <br /><br />
                    Above the filters is a pie chart that shows the breakdown of purchases by category. Various options allow the user to see detailed data about how they are spending their money.
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/Purchase Category Pie Chart.png' %}">
                    <br /><br />
                    Below the filters is a list view of all purchases that apply to the current filter values. Information on each purchase is displayed, and users can delete a purchase and also view its receipt when desired.
                    <br /><br />
                    <img style="position:relative;margin:auto;" id="image" src="{% static 'images/List Filters and Purchase List.png' %}">
                    <br /><br />
                </div>

                <br /><br />

            </div>

        </div>

    </body>

</html>
