<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <link rel="shortcut icon" href="{% static 'images/money_bulb.png' %}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="description" content="Settings for Finances Tracker web application.">
        <meta name="author" content="Brendan Dagys">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>Settings</title>

    </head>

    <body>
        <div class="container-fluid">
            <div class="floating_bar_short row">
                <div style="padding-top:9px;" class="col-sm-12">
                    <a id="home_link"  class="btn btn-outline-primary btn-sm" href="{% url 'homepage' %}">Form + Charts</a>
                    <a id="activity_link" class="btn btn-outline-secondary btn-sm" href="{% url 'activity' %}">Accounts + Purchases</a>
                    <a id="admin_link" target="_blank" class="btn btn-outline-info btn-sm" href="{% url 'admin:index' %}">Admin</a>
                </div>
            </div>

            <br><br><br>
            <h6 style="text-align:center;">User Profile Settings</h6>
            <p style="font-size:0.5rem; text-align:center;">Set default Accounts to charge when entering purchases. Set default currencies to use.</p>
            <form id="profile_form" action="" method="post">
                {% csrf_token %}
                <table class="center">
                    {{ profile_form }}
                </table>
            </form>

            <br><br>
            <h6 style="text-align:center;">Purchase Category Settings</h6>
            <p style="font-size:0.5rem; text-align:center;">Change the name of a Purchase Category, set the threshold for alerts, or change the rolling window in which alerts trigger.</p>
            <form id="threshold_formset" method="post">
                {{ threshold_formset.management_form }}
                <table style="table-layout:fixed; margin:auto; max-width:345px;">
                    <tr style="font-size:0.7rem; text-align:center;">
                        <th>Category</th>
                        <th>Threshold</th>
                        <th>Days</th>
                    </tr>
                    {% for form in threshold_formset %}
                        <tr>
                            <td style="display:none;">{{ form.id }}</td>
                            <td style="width:55%">{{ form.category }}</td>
                            <td style="width:30%">{{ form.threshold }}</td>
                            <td style="width:17%">{{ form.threshold_rolling_days }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
            <div style="text-align:center; margin-top:10px;"><button id="delete_Purchase_Category" type="button" class="btn btn-sm btn-outline-danger delete_button">Delete a Purchase Category...</button></div>

            <br><br>
            <h6 style="text-align:center;">Account Settings</h6>
            <p style="font-size:0.5rem; text-align:center;">Change the name of an Account, specify if it's a credit account, set the currency, and indicate if it's active.</p>
            <form id="account_formset" action="" method="post">
                {{ account_formset.management_form }}
                <table style="table-layout:fixed; margin:auto; max-width:345px;">
                    <tr style="font-size:0.7rem; text-align:center;">
                        <th>Account</th>
                        <th>Credit</th>
                        <th>Currency</th>
                        <th>Active</th>
                    </tr>
                    {% for form in account_formset %}
                        <tr>
                            <td style="display:none;">{{ form.id }}</td>
                            <td style="width:65%">{{ form.account }}</td>
                            <td style="width:10%">{{ form.credit }}</td>
                            <td style="width:15%">{{ form.currency }}</td>
                            <td style="width:10%">{{ form.active }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
            <div style="text-align:center; margin-top:10px;"><button id="delete_Account" type="button" class="btn btn-sm btn-outline-danger delete_button">Delete an Account...</button></div>

            <br><br>
            <h6 style="text-align:center;">Recurring Payments</h6>
            <p style="font-size:0.5rem; text-align:center;">Add and update bills or other recurring payments/income. Tap/click on a row to toggle Active status.</p>
            <div id="recurring_table_div">
                <table id="recurring_table" style="table-layout:fixed; margin:auto; max-width:500px;" class="table table-sm table-striped table-bordered">
                    {% if recurring_list|length > 0 %}
                        <tr style="font-size:0.4rem; text-align:center;">
                            <th>Name</th>
                            <th style="width:11%">Type</th>
                            <th>Account</th>
                            <th>Category</th>
                            <th style="width:11%">Active</th>
                            <th style="width:13.5%">Amount</th>
                            <th>Freq.</th>
                        </tr>
                    {% endif %}
                    {% for recurring in recurring_list %}
                        <tr class="hover" style="font-size:0.3rem; text-align:center;">
                            <td style="vertical-align:middle;">{{ recurring.name }}</td>
                            <td style="vertical-align:middle;">{{ recurring.type }}</td>
                            <td style="vertical-align:middle;">{{ recurring.account__account }}</td>
                            <td style="vertical-align:middle;">{{ recurring.category__category }}</td>
                            <td style="vertical-align:middle;">{{ recurring.active }}</td>
                            <td style="vertical-align:middle;">{{ recurring.amount }}</td>
                            <td style="vertical-align:middle;">{{ recurring.frequency }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div style="text-align:center; margin-top:10px;"><button id="delete_Recurring_Payment" type="button" class="btn btn-sm btn-outline-danger delete_button">Delete a Recurring Payment...</button></div>

            <br>
            <form id="recurring_form" action="" method="post">
                {% csrf_token %}
                <table class="center">
                    {{ recurring_form }}
                </table> </br>

                <input class="btn btn-sm btn-primary" type="submit" value="Add Recurring Payment" name="recurring_form_submit">
            </form>

            <br><br>
            <h6 style="text-align:center;">Quick Entries</h6>
            <p style="font-size:0.5rem; text-align:center;">Add up to 14 Quick Entries for the Purchase Form.</p>
            <div id="quick_entry_table_div">
                <!-- <table style="table-layout:fixed; margin:auto; max-width:500px;" class="table table-sm table-striped table-bordered">
                    {% if quick_entry_list|length > 0 %}
                        <tr style="font-size:0.4rem; text-align:center;">
                            <th style="width:7%">ID</th>
                            <th>Category</th>
                            <th>Item</th>
                            <th style="width:13.5%">Amount</th>
                            <th>Category 2</th>
                            <th style="width:13.5%">Amount 2</th>
                            <th>Specifics</th>
                        </tr>
                    {% endif %}
                    {% for quick_entry in quick_entry_list %}
                        <tr style="font-size:0.3rem; text-align:center;">
                            <td style="vertical-align:middle;">{{ quick_entry.id }}</td>
                            <td style="vertical-align:middle;">{{ quick_entry.category__category }}</td>
                            <td style="vertical-align:middle;">{{ quick_entry.item }}</td>
                            <td style="vertical-align:middle;">{{ quick_entry.amount }}</td>
                            <td style="vertical-align:middle;">{{ quick_entry.category_2__category }}</td>
                            <td style="vertical-align:middle;">{{ quick_entry.amount_2 }}</td>
                            <td style="vertical-align:middle;">{{ quick_entry.description }}</td>
                        </tr>
                    {% endfor %}
                </table> -->
            </div>
            <div style="text-align:center; margin-top:10px;"><button id="delete_Quick_Entry" type="button" class="btn btn-sm btn-outline-danger delete_button">Delete a Quick Entry...</button></div>

            <br>
            <form id="quick_entry_form" action="" method="post">
                {% csrf_token %}
                <table class="center">
                    {{ quick_entry_form }}
                </table> </br>

                <input id="quick_entry_form_submit" class="btn btn-sm btn-primary" type="submit" value="Add Quick Entry" name="quick_entry_form_submit">
            </form>
            <br><br>


        </div>
    </body>

</html>

<script type="text/javascript">
    if ({{purchase_category_count}} === 0) {
        $('#delete_Purchase_Category').hide()
    }
    if ({{account_count}} === 0) {
        $('#delete_Account').hide()
    }
    if ({{recurring_count}} === 0) {
        $('#delete_Recurring_Payment').hide()
    }
    if ({{quick_entry_count}} === 0) {
        $('#delete_Quick_Entry').hide()
    }

    $('#quick_entry_table_div').find('td:contains("None")').each(function() { this.innerText = '' });

    $(document).ready(function() {
        $('.delete_button').on('click', function() {
            let model = $(this).attr('id').slice(7).replace('_', ' ');
            let id_type = 'name';
            if (model === 'Quick Entry') {
                id_type = 'ID';
            }
            let to_delete = prompt('\nPlease enter the exact ' + id_type + ' of the ' + model + ' that you want to delete:')

            if (to_delete != null && to_delete.trim() !== '') {
                $.ajax({
                    type: 'POST',
                    url: '',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'type': 'Delete',
                            'model': model,
                            'to_delete': to_delete.trim(),
                    },
                    context: this, // To allow access in the callback functions
                    success: function (response) {
                        if (model === 'Purchase Category' || model === 'Quick Entry') {
                            get_quick_entry_table();
                        }
                        if (model === 'Account') {
                            get_profile_form();
                            $('#account_formset').find('input[id$="account"][value="' +  to_delete.trim() + '"]').parent().parent().hide(); // Hide the deleted row
                        }
                        if (model === 'Purchase Category') {
                            $('#threshold_formset').find('input[id$="category"][value="' +  to_delete.trim() + '"]').parent().parent().hide(); // Hide the deleted row
                        }
                        if (model === 'Recurring Payment' || model === 'Purchase Category' || model === 'Account') {
                            get_recurring_payments_table();
                        }

                        setTimeout(function(){
                            alert('\nDeleted ' + model + ': ' + to_delete.trim());
                        },500);
                    },
                    error: function (response) {
                        alert('\nThere was an issue deleting ' + model + ': ' + to_delete.trim());
                    }
                });
            }
        });


        $('#datepicker, #datepicker_2').on('keyup', function(e) {
            if ($(this).val().length === 10) {
                $(this).blur();
            }
        });


        $('#threshold_formset').find('input[name$="threshold"]').on('keyup', function() {
            if ($(this).val().includes('.') && $(this).val().split('.')[1].length === 2) {
                $(this).blur();
            }
        });


        $('#id_amount, #id_amount_2').on('keyup', function() {
            if ($(this).val().includes('.') && $(this).val().split('.')[1].length === 2) {
                $(this).blur();
          }
        });


        function get_profile_form() {
            $.ajax({
                type: 'GET',
                url: '',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'type': 'Fetch',
                        'model': 'Profile',
                      },
                success: function(response) {
                    $('#profile_form select').not('#id_primary_currency').empty().append(response['choices'])
                    $.each(response['values'], function(key, value) {
                          $('#id_' + key).val(value);
                    });
                },
                error: function() {
                    alert('\nCould not retrieve Profile data!');
                }
            });
        }

        $('#profile_form').find('select').on('change', function() {
            $.ajax({
                type: 'POST',
                url: '',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'type': 'Update',
                        'model': 'Profile',
                        'id': $(this).attr('id'),
                        'value': $(this).val(),
                },
                context: this, // To allow access in the callback functions
                success: function (response) {
                    $(this).css('background-color', '#D0F0C0');
                    console.log('\nSet value to: ' + $(this).find(':selected').text());
                },
                error: function (response) {
                    alert('\nCould not set value to: ' + $(this).find(':selected').text());
                }
            });
        });


        var $clone_row_threshold = $('#threshold_formset').find('tr').last().clone(); // Make a copy of the empty last row
        var last_row_number_threshold = parseInt($clone_row_threshold.find('input').last().attr('id').split('-')[1]); // Extract the last row's form counter

        $('#threshold_formset').on('change', function(e) {
            if (parseInt(e.target.id.split('-')[1]) === last_row_number_threshold) {
                $('#threshold_formset tr').last().after($clone_row_threshold); // Insert the clone after the current last row
                $('#threshold_formset tr').last().children().each(function(){ // For each td of the last tr...
                    let id = $(this).children().prop('id'); // Get the field's form/row counter
                    $(this).children().prop('id', id.split('-')[0] + '-' + (last_row_number_threshold+1) + '-' + id.split('-')[2]); // Update each input id to contain the new form/row counter
                    $(event.target).attr('value', e.target.value); // We must set the value so that we can delete immediately, if we wish. Otherwise, must refresh page
                });
                $clone_row_threshold = $clone_row_threshold.clone(); // Necessary to dynamically add a second form
                last_row_number_threshold++; // Increment the last form/row counter for the next new form...
            }

            $.ajax({
                type: 'POST',
                url: '',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'type': 'Update',
                        'model': 'Purchase Category',
                        'id': $('#' + e.target.id).parent().siblings().first().children().val(),
                        'field': e.target.id.split('-').slice(-1)[0],
                        'value': e.target.value.trim(),
                },
                context: this, // To allow access in the callback functions
                success: function (response) {
                    $('#' + e.target.id).css('background', '#D0F0C0');
                    if ('id' in response) {
                        $('#' + e.target.id).parent().siblings().first().children().val(response['id']);
                        $('#' + e.target.id).parent().siblings().first().children().attr('value', (response['id']));
                    }
                    // console.log(response['id']);
                    console.log('\nSet value to: ' + e.target.value.trim());
                    get_quick_entry_table();
                },
                error: function (response) {
                    alert('\nCould not set value to: ' + e.target.value.trim());
                }
            });
        });


        var $clone_row_account = $('#account_formset').find('tr').last().clone(); // Make a copy of the empty last row
        var last_row_number_account = parseInt($clone_row_account.find('input').last().attr('id').split('-')[1]); // Extract the last row's form counter

        $('#account_formset').on('change', function(e) {
            if (parseInt(e.target.id.split('-')[1]) === last_row_number_account) {
                $('#account_formset tr').last().after($clone_row_account); // Insert the clone after the current last row
                $('#account_formset tr').last().children().each(function(){ // For each td of the last tr...
                    let id = $(this).children().prop('id'); // Get the field's form/row counter
                    $(this).children().prop('id', id.split('-')[0] + '-' + (last_row_number_account+1) + '-' + id.split('-')[2]); // Update each input id to contain the new form/row counter
                    $(event.target).attr('value', e.target.value); // We must set the value so that we can delete immediately, if we wish. Otherwise, must refresh page
                });
                $clone_row_account = $clone_row_account.clone(); // Necessary to dynamically add a second form
                last_row_number_account++; // Increment the last form/row counter for the next new form...
            }

            $.ajax({
                type: 'POST',
                url: '',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'type': 'Update',
                        'model': 'Account',
                        'id': $('#' + e.target.id).parent().siblings().first().children().val(),
                        'field': e.target.id.split('-').slice(-1)[0],
                        'value': e.target.value.trim(),
                },
                context: this, // To allow access in the callback functions
                success: function (response) {
                    $('#' + e.target.id).css('background', '#D0F0C0');
                    if ('id' in response) {
                        $('#' + e.target.id).parent().siblings().first().children().val(response['id']);
                        $('#' + e.target.id).parent().siblings().first().children().attr('value', (response['id']));
                    }
                    // console.log(response['id']);
                    console.log('\nSet value to: ' + e.target.value.trim());
                    get_profile_form();
                    get_recurring_payments_table();
                },
                error: function (response) {
                    alert('\nCould not set value to: ' + e.target.value.trim());
                }
            });

        });


        function get_recurring_payments_table() {
            $.ajax({
                type: 'GET',
                url: '',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'type': 'Fetch',
                        'model': 'Recurring',
                      },
                success: function(response) {
                    $('#recurring_table_div').html(response);
                    console.log('Refreshed Recurring Payment table.');
                }
            });
        }


        $(document).on({
            mouseenter: function() {
                $(this).css('opacity', 0.7);
            },
            mouseleave: function() {
                $(this).css('opacity', 1);
            }
        }, '#recurring_table tr.hover');


        $(document).on('click', '#recurring_table tr.hover', function() {
            if ($(this).children(':nth-child(5)').html() === 'True') {
                $(this).children(':nth-child(5)').html('False');
                var switch_to = 'False'
            }
            else {
                $(this).children(':nth-child(5)').html('True');
                var switch_to = 'True'
            }

            $.ajax({
                type: 'POST',
                url: '',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'type': 'Update',
                        'model': 'Recurring Payment',
                        'name': $(this).children(':nth-child(1)').html(),
                },
                context: this, // To allow access in the callback functions
                success: function (response) {
                    console.log('Switched Recurring Payment status to: ' + switch_to);
                },
                error: function (response) {
                    alert('\nCould not switch Recurring Payment status.');
                }
            });
        });


        // Clear the date and time fields when clicked, as we only would click if we wanted to alter the values
        $('#id_start_date,#id_amount').on('focus', function(e) {
            $(this).val('');
        });


        // Limit text entry to only numbers
        $('#id_start_date').on('keydown', function(e) {
            // console.log($(this).val().length);
            if ([4,7].includes($(this).val().length) && e.key !== 'Backspace' && Number.isInteger(parseInt(e.key))) {
                $(this).val($(this).val() + '-');
            }
            if ((!Number.isInteger(parseInt(e.key)) && !['Backspace', 'Enter', 'Tab'].includes(e.key)) || ($(this).val().length > 9  && !['Backspace', 'Enter', 'Tab'].includes(e.key))) { // Still necessary to check if it's a letter because forms.py attributes aren't working
                e.preventDefault();
            }
            if ($(this).val().length === 5 && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 6 && $(this).val()[5] === '1' && !['0', '1', '2', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 6 && $(this).val()[5] === '2' && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 8 && !['0', '1', '2', '3', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
            else if ($(this).val().length === 9 && $(this).val()[8] === '3' && !['0', '1', 'Backspace', 'Enter', 'Tab'].includes(e.key)) {
                e.preventDefault();
            }
        });

        $('#id_start_date').on('keyup', function(e) {
            if ($(this).val().length === 10) {
                $(this).blur();
            }
        });

        $('#recurring_form').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'type': 'Submit',
                        'model': 'Recurring Payment',
                        'name': $('#recurring_form #id_name').val(),
                        'description': $('#recurring_form #id_description').val(),
                        'recurring_type': $('#recurring_form #id_type').val(),
                        'account': $('#recurring_form #id_account').val(),
                        'category': $('#recurring_form #id_category').val(),
                        'active': $('#recurring_form #id_active').is(':checked'),
                        'amount': $('#recurring_form #id_amount').val(),
                        'start_date': $('#recurring_form #id_start_date').val(),
                        'dates': $('#recurring_form #id_dates').val().toString(),
                        'weekdays': $('#recurring_form #id_weekdays').val().toString(),
                        'number': $('#recurring_form #id_number').val(),
                        'interval_type': $('#recurring_form #id_interval_type').val(),
                        'xth_type': $('#recurring_form #id_xth_type').val(),
                        'xth_from_specific_date': $('#recurring_form #id_xth_from_specific_date').val(),
                        'xth_after_months': $('#recurring_form #id_xth_after_months').val(),
                      },
                success: function(response) {
                    get_recurring_payments_table();
                    $('#recurring_form').trigger('reset');
                    $('#id_number').val('');
                    console.log('Recurring Payment added.');
                },
                error: function(response) {
                    alert('\nCould not add the Recurring Payment.');
                }
            });
        });


        $.each(['#id_number', '#id_interval_type', '#id_xth_type', '#id_xth_from_specific_date', '#id_xth_after_months'], function(i, v) { $(v + ',label[for="' + v.substring(1) + '"]').hide(); });
        $('#id_weekdays').after('<tr><td style="padding-top:2px;"><a id="custom_anchor_link" class="text-info" style="font-size:0.8rem;">Set an interval instead...</a></td></tr>');
        $('#id_number').val('');
        $('label[for="id_weekdays"]').css('margin-bottom', '28px');

        $(document).on('click', '#custom_anchor_link', function() {
            $('#id_dates, #id_weekdays, label[for="id_dates"], label[for="id_weekdays"], #custom_anchor_link').hide();
            $('#id_dates, #id_weekdays').val('');
            $('#id_number, #id_interval_type, label[for="id_number"], label[for="id_interval_type"]').show();
            $('#id_interval_type').after('<tr><td style="padding-top:2px;"><a id="custom_anchor_link_2" class="text-info" style="font-size:0.8rem;">Every X<sup>th</sup> _______ ...</a></td></tr>');
            $('label[for="id_interval_type"]').css('margin-bottom', '28px');
        });

        $(document).on('click', '#custom_anchor_link_2', function() {
            $('label[for="id_number"]').html('X<sup>th</sup> Instance:');
            $('#id_interval_type, label[for="id_interval_type"], #custom_anchor_link_2').hide();
            $('#id_number, #id_interval_type').val('');
            $('#id_xth_after_months').val(1);
            $('#id_xth_type, #id_xth_from_specific_date, #id_xth_after_months, label[for="id_xth_type"], label[for="id_xth_from_specific_date"], label[for="id_xth_after_months"]').show();
            $('#id_xth_after_months').after('<tr><td style="padding-top:2px;"><a id="custom_anchor_link_3" class="text-info" style="font-size:0.8rem;">Specific date/weekday...</a></td></tr>');
            $('label[for="id_xth_after_months"]').css('margin-bottom', '28px');
        });

        $(document).on('click', '#custom_anchor_link_3', function() {
            $('label[for="id_number"]').text('Every:');
            $('#id_number, #id_xth_type, #id_xth_from_specific_date, #id_xth_after_months, label[for="id_number"], label[for="id_xth_type"], label[for="id_xth_after_months"], label[for="id_xth_from_specific_date"], #custom_anchor_link_3').hide();
            $('#id_number, #id_xth_type, #id_xth_from_specific_date, #id_xth_after_months').val('');
            $('#id_dates, #id_weekdays, label[for="id_dates"], label[for="id_weekdays"]').show();
            $('#id_weekdays').after('<tr><td style="padding-top:2px;"><a id="custom_anchor_link" class="text-info" style="font-size:0.8rem;">Set an interval instead...</a></td></tr>');
        });


        function get_quick_entry_table() {
            $.ajax({
                type: 'GET',
                url: '',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'type': 'Fetch',
                        'model': 'Quick Entry',
                      },
                success: function(response) {
                    $('#quick_entry_table_div').html(response['table_string']);
                    console.log('Received Quick Entry data for table.');
                    if (response['count'] !== 14) {
                        $('#quick_entry_form_submit').prop('disabled', false);
                    }
                    else {
                        $('#quick_entry_form_submit').prop('disabled', true);
                    }
                }
            });
        }

        get_quick_entry_table(); // Run on page load, because we removed the table that comes from the context

        $('#quick_entry_form').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'type': 'Submit',
                        'model': 'Quick Entry',
                        'category': $('#quick_entry_form #id_category').val(),
                        'item': $('#quick_entry_form #id_item').val(),
                        'amount': $('#quick_entry_form #id_amount').val(),
                        'category_2': $('#quick_entry_form #id_category_2').val(),
                        'amount_2': $('#quick_entry_form #id_amount_2').val(),
                        'description': $('#quick_entry_form #id_description').val(),
                      },
                success: function(response) {
                    get_quick_entry_table();
                    $('#quick_entry_form').trigger('reset');
                    console.log('Quick Entry added.');
                },
                error: function(response) {
                    alert('\nCould not add the Quick Entry.');
                }
            });
        });
    });
</script>
