<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Settings for Finances Tracker web application.">
        <meta name="author" content="Brendan Dagys">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>Settings</title>

    </head>

    <body>
        <div class="container-fluid">
            <br>
            <h6 style="text-align:center;">Purchase Category Settings</h6>
            <p style="font-size:0.5rem; text-align:center;">Change the name of a Purchase Category, set the threshold for alerts, or change the rolling window in which alerts trigger.</p>
            <form id="account_form" method="post">
                {{ threshold_formset.management_form }}
                <table style="table-layout:fixed; margin:auto; max-width:345px;">
                    <tr>
                        <th>Category</th>
                        <th>Threshold</th>
                        <th>Days</th>
                    </tr>
                    {% for form in threshold_formset %}
                        <tr>
                            <td style="width:55%">{{ form.category }}</td>
                            <td style="width:30%">{{ form.threshold }}</td>
                            <td style="width:17%">{{ form.threshold_rolling_days }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </body>

</html>
