<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A spending tracker for finances.">
        <meta name="author" content="Brendan Dagys">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>List of Transactions</title>

    </head>

    <body class="white_background">

        <div class="container-fluid">

            <div class="floating_bar row">

                <div class="navigation_link col-sm-12">
                    <div>
                        <a id="homepage_link" class="homepage_link" href="{% url 'homepage' %}">New Entry/Statistics</a>
                    </div>
                </div>

                <div class="col-sm-12">
                    <b><h2 class="total_spent"></h2></b>
                </div>

            <!-- </hr/> -->

            </div>

        </div>

        <div class="main_container container-fluid">

            <table style="width:100%;">

                <tr>
                    <td colspan="2" style="width:100%; text-align:center; padding-bottom:10px;">
                        <a id="No Filter" class="no_filter" href="https://brendanspending.herokuapp.com/transactions/">NO FILTER</a>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="width:100%; text-align:center;">
                        <p class="filter_headers">Categories</p>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="cCoffee" name="coffee" href="https://brendanspending.herokuapp.com/transactions/">Coffee</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="cGroceries" name="groceries" href="https://brendanspending.herokuapp.com/transactions/">Groceries</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="cFood/Drinks" name="fooddrinks" class="food" href="https://brendanspending.herokuapp.com/transactions/">Food/Drinks</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="cRestaurants" name="restaurants" href="https://brendanspending.herokuapp.com/transactions/">Restaurants</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="cGas" name="gas" href="https://brendanspending.herokuapp.com/transactions/">Gas</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="cBills" name="bills" href="https://brendanspending.herokuapp.com/transactions/">Bills</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="cHousehold Supplies" name="householdsupplies" href="https://brendanspending.herokuapp.com/transactions/">Household Supplies</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="cServices" name="services" href="https://brendanspending.herokuapp.com/transactions/">Services</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="cDates" name="dates" href="https://brendanspending.herokuapp.com/transactions/">Dates</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="cGifts" name="gifts" href="https://brendanspending.herokuapp.com/transactions/">Gifts</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="cTickets" name="tickets" href="https://brendanspending.herokuapp.com/transactions/">Tickets</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="cElectronics" name="electronics" href="https://brendanspending.herokuapp.com/transactions/">Electronics</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="cAppliances" name="appliances" href="https://brendanspending.herokuapp.com/transactions/">Appliances</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="cClothes" name="clothes" href="https://brendanspending.herokuapp.com/transactions/">Clothes</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="cAlcohol" name="alcohol" href="https://brendanspending.herokuapp.com/transactions/">Alcohol</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="cVacations" name="vacations" href="https://brendanspending.herokuapp.com/transactions/">Vacations</a></br>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="width:100%; text-align:center;">
                        <a id="cFees" name="fees" href="https://brendanspending.herokuapp.com/transactions/">Fees</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">

                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="width:100%; text-align:center; padding-top:10px;">
                        <p class="filter_headers">Dates Up To Today</p>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="tLast Seven Days" name="lastsevendays" href="https://brendanspending.herokuapp.com/transactions/">Last Seven Days</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="tLast 30 Days" name="last30days" href="https://brendanspending.herokuapp.com/transactions/">Last 30 Days</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="tLast Three Months" name="lastthreemonths" href="https://brendanspending.herokuapp.com/transactions/">Last Three Months</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="tLast Six Months" name="lastsixmonths" href="https://brendanspending.herokuapp.com/transactions/">Last Six Months</a>
                    </td>
                </tr>

                <!-- <tr>
                    <td colspan="2" style="width:100%; text-align:center;">
                        <a id="tLast Year" name="lastyear" href="https://brendanspending.herokuapp.com/transactions/">Last Year</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">

                    </td>
                </tr> -->

                <tr>
                    <td colspan="2" style="width:100%; text-align:center; padding-top:10px;">
                        <p class="filter_headers">Past Week Periods</p>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="tThis Week" name="thisweek" href="https://brendanspending.herokuapp.com/transactions/">This Week</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="tOne Week Ago" name="oneweekago" href="https://brendanspending.herokuapp.com/transactions/">One Week Ago</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="tTwo Weeks Ago" name="twoweeksago" href="https://brendanspending.herokuapp.com/transactions/">Two Weeks Ago</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="tThree Weeks Ago" name="threeweeksago" href="https://brendanspending.herokuapp.com/transactions/">Three Weeks Ago</a>
                    </td>
                </tr>

                <!-- <tr>
                    <td colspan="2" style="width:100%; text-align:center;">
                        <a id="tFour Weeks Ago" name="fourweeksago" href="https://brendanspending.herokuapp.com/transactions/">Four Weeks Ago</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">

                    </td>
                </tr> -->

                <tr>
                    <td colspan="2" style="width:100%; text-align:center; padding-top:10px;">
                        <p class="filter_headers">Past Month Periods</p>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="tThis Month" name="thismonth" href="https://brendanspending.herokuapp.com/transactions/">This Month</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="tOne Month Ago" name="onemonthago" href="https://brendanspending.herokuapp.com/transactions/">One Month Ago</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:50%; text-align:right; padding-right:10px;">
                        <a id="tTwo Months Ago" name="twomonthsago" href="https://brendanspending.herokuapp.com/transactions/">Two Months Ago</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">
                        <a id="tThree Months Ago" name="threemonthsago" href="https://brendanspending.herokuapp.com/transactions/">Three Months Ago</a>
                    </td>
                </tr>

                <!-- <tr>
                    <td colspan="2" style="width:100%; text-align:center;">
                        <a id="tFour Months Ago" name="fourmonthsago" href="https://brendanspending.herokuapp.com/transactions/">Four Months Ago</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">

                    </td>
                </tr> -->

                <tr>
                    <td colspan="2" style="width:100%; text-align:center; padding-top:10px;">
                        <p class="filter_headers">Calendar Year-To-Date</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="width:100%; text-align:center;">
                        <a id="tThis Year" name="thisyear" href="https://brendanspending.herokuapp.com/transactions/">This Year</a>
                    </td>
                    <td style="width:50%; text-align:left; padding-left:10px;">

                    </td>
                </tr>

            </table>

            </br>

            <!-- <div class="row">

                <div class="sum_box col-sm-12">

                    </br></br>
                    <b><h4>SUM OF PURCHASES</h4></b>
                    <b><h2 class="total_spent"></h2></b>
                </div>
            </div> -->

            <div class="purchase_list_div col-sm-12">

                {% if purchase_list %}
                    <h1 class="purchase_header">Purchase List </h1>
                    <div class="date_span"></div>

                    <ul class="list_container">
                        {% for purchase in purchase_list %}
                        <li class="purchase_list_items">
                            <h5><b>{{ purchase.date }}, {{ purchase.time }}</b>: <span class="blue_text">${{ purchase.amount }}</span></h5>
                            <h5><u>{{ purchase.category }}</u>  {% if purchase.category_2 %} | <u>{{ purchase.category_2 }}</u> {% endif %}| {{ purchase.item }} {% if purchase.description %} | <span class="purchase_description"><i>{{ purchase.description }}</i></span> {% endif %}</h5>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h4 class="no_purchases">There are no purchases recorded.</h1>
                {% endif %}

            </div>

        </div>
    </div>

</body>

</html>

<script type="text/javascript">

    $(document).ready(function() {

        var category_filter
        var time_filter

        $.ajax({
            type: 'GET',
            url: 'filter/',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function(response) {

                $('.total_spent').text(response['total_spent']);
                $('.date_span').text(response['time_filter_start'].concat(' - ', response['time_filter_end']));

                $('a[name="' + response['category_filter'] + '"]').wrap('<b></b>').addClass('green_filters');
                $('a[name="' + response['time_filter'] + '"]').wrap('<b></b>').addClass('green_filters');

            }
        });
        //$('a':not('#homepage_link')).on('click', function(e) {

        $('a[id!="homepage_link"]').on('click', function(e) {
            e.preventDefault()

            $.ajax({
                type: 'POST',
                url: 'filter/',
                data: {
                       csrfmiddlewaretoken: '{{ csrf_token }}',
                       'filter': event.target.id
                },
                success: function () {
                    // console.log('Filter POST successful!');
                    location.reload()
                }
            });
            return false;
        });

    });

</script>
