<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A spending tracker for finances.">
        <meta name="author" content="Brendan Dagys">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>List of Transactions</title>

    </head>

    <body>

        <h1>&nbsp&nbsp&nbsp&nbspPurchase List</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">

                    {% if purchase_list %}
                        <ul>
                            {% for purchase in purchase_list %}
                            <li>
                                <h5><b>{{ purchase.date }}, {{ purchase.time }}</b>: <span class="red_text">${{ purchase.amount }}</span></h5>
                                <h5><u>{{ purchase.category }}</u>: {{ purchase.item }} | <i>{{ purchase.description }}</i></h5>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h4>There are no purchases recorded.</h1>
                    {% endif %}

                </div>
                <div class="col-sm-2">
                    <a id="No Filter" href="http://localhost:8000/transactions/">NO FILTER</a></br></br>

                    <a id="Groceries" href="http://localhost:8000/transactions/">Groceries</a></br>
                    <a id="Fast Food" href="http://localhost:8000/transactions/">Fast Food</a></br>
                    <a id="Dates" href="http://localhost:8000/transactions/">Dates</a></br>
                    <a id="Coffee" href="http://localhost:8000/transactions/">Coffee</a></br>
                    <a id="Gas" href="http://localhost:8000/transactions/">Gas</a></br>
                    <a id="Household Supplies" href="http://localhost:8000/transactions/">Household Supplies</a></br>
                    <a id="Clothes" href="http://localhost:8000/transactions/">Clothes</a></br>
                    <a id="Medicine" href="http://localhost:8000/transactions/">Medicine</a></br></br>

                    <a id="Last Week" href="http://localhost:8000/transactions/">Last Week</a></br>
                    <a id="Last Month" href="http://localhost:8000/transactions/">Last Month</a></br>
                    <a id="Last Three Months" href="http://localhost:8000/transactions/">Last Three Months</a></br>
                    <a id="Last Six Months" href="http://localhost:8000/transactions/">Last Six Months</a></br>
                    <a id="Last Year" href="http://localhost:8000/transactions/">Last Year</a></br>

                </div>
            </div>
        </div>

    </body>

</html>

<script type="text/javascript">

$(document).ready(function(){

        $('a').on('click', function(e) {
            console.log('Anchor link clicked!')
            console.log(event.target.id)
            e.preventDefault()

            // $.ajax({
            //     type: 'POST',
            //     url: ''
            //     data: {
            //         csrfmiddlewaretoken: '{{ csrf_token }}',
            //         console.log(event.target.id)
            //
            //     },
            //     success: function () {
            //         console.log('Filter POST successful!')
            //     }
            // });
            return false;
        });
      });

</script>
