<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A spending tracker for finances.">
        <meta name="author" content="Brendan Dagys">

        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <title>List of Transactions</title>

    </head>

    <body class="lighter_background">

        <div class="container-fluid">
            <div class="row">

                <div class="navigation_link col-sm-12">
                    <a id="homepage_link" class="homepage_link" href="{% url 'homepage' %}">New Entry/Statistics</a>
                </div>

            </div>

            <div class="row">

                <div class="row">

                    <div class="col-sm-4 col-md-4 col-lg-4">

                    </div>

                    <div id="filter_div_1" class="filter_list col-sm-2 col-md-2 col-lg-2">
                        </br>
                        <a id="No Filter" class="no_filter" href="https://brendanspending.herokuapp.com/transactions/">NO FILTER</a></br></br>

                        <p class="filter_headers">Categories</p>
                        <a id="cCoffee" href="https://brendanspending.herokuapp.com/transactions/">Coffee</a></br>
                        <a id="cGroceries" href="https://brendanspending.herokuapp.com/transactions/">Groceries</a></br>
                        <a id="cFood/Drinks" href="https://brendanspending.herokuapp.com/transactions/">Food/Drinks</a></br>
                        <a id="cRestaurants" href="https://brendanspending.herokuapp.com/transactions/">Restaurants</a></br>
                        <a id="cGas" href="https://brendanspending.herokuapp.com/transactions/">Gas</a></br>
                        <a id="cBills" href="https://brendanspending.herokuapp.com/transactions/">Bills</a></br>
                        <a id="cHousehold Supplies" href="https://brendanspending.herokuapp.com/transactions/">Household Supplies</a></br>
                        <a id="cServices" href="https://brendanspending.herokuapp.com/transactions/">Services</a></br>
                        <a id="cDates" href="https://brendanspending.herokuapp.com/transactions/">Dates</a></br>
                        <a id="cGifts" href="https://brendanspending.herokuapp.com/transactions/">Gifts</a></br>
                        <a id="cTickets" href="https://brendanspending.herokuapp.com/transactions/">Tickets</a></br>
                        <a id="cElectronics" href="https://brendanspending.herokuapp.com/transactions/">Electronics</a></br>
                        <a id="cAppliances" href="https://brendanspending.herokuapp.com/transactions/">Appliances</a></br>
                        <a id="cClothes" href="https://brendanspending.herokuapp.com/transactions/">Clothes</a></br>
                        <a id="cAlcohol" href="https://brendanspending.herokuapp.com/transactions/">Alcohol</a></br>
                        <a id="cVacations" href="https://brendanspending.herokuapp.com/transactions/">Vacations</a></br>
                        <a id="cFees" href="https://brendanspending.herokuapp.com/transactions/">Fees</a></br></br>
                    </div>

                    <div id="filter_div_2" class="filter_list_2 col-sm-2 col-md-2 col-lg-2">

                        <p class="filter_headers">Dates Up To Today</p>
                        <a id="tLast Seven Days" href="https://brendanspending.herokuapp.com/transactions/">Last Seven Days</a></br>
                        <a id="tLast 30 Days" href="https://brendanspending.herokuapp.com/transactions/">Last 30 Days</a></br>
                        <a id="tLast Three Months" href="https://brendanspending.herokuapp.com/transactions/">Last Three Months</a></br>
                        <a id="tLast Six Months" href="https://brendanspending.herokuapp.com/transactions/">Last Six Months</a></br>
                        <a id="tLast Year" href="https://brendanspending.herokuapp.com/transactions/">Last Year</a></br></br>

                        <p class="filter_headers">Past Week Periods</p>
                        <a id="tThis Week" href="https://brendanspending.herokuapp.com/transactions/">This Week</a></br>
                        <a id="tOne Week Ago" href="https://brendanspending.herokuapp.com/transactions/">One Week Ago</a></br>
                        <a id="tTwo Weeks Ago" href="https://brendanspending.herokuapp.com/transactions/">Two Weeks Ago</a></br>
                        <a id="tThree Weeks Ago" href="https://brendanspending.herokuapp.com/transactions/">Three Weeks Ago</a></br>
                        <a id="tFour Weeks Ago" href="https://brendanspending.herokuapp.com/transactions/">Four Weeks Ago</a></br></br>
                        <p class="filter_headers">Past Month Periods</p>
                        <a id="tThis Month" href="https://brendanspending.herokuapp.com/transactions/">This Month</a></br>
                        <a id="tOne Month Ago" href="https://brendanspending.herokuapp.com/transactions/">One Month Ago</a></br>
                        <a id="tTwo Months Ago" href="https://brendanspending.herokuapp.com/transactions/">Two Months Ago</a></br>
                        <a id="tThree Months Ago" href="https://brendanspending.herokuapp.com/transactions/">Three Months Ago</a></br>
                        <a id="tFour Months Ago" href="https://brendanspending.herokuapp.com/transactions/">Four Months Ago</a></br></br>
                        <p class="filter_headers">Calendar Year To-Date</p>
                        <a id="tThis Year" href="https://brendanspending.herokuapp.com/transactions/">This Year</a></br></br>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">

                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-5">

                    </div>

                    <div class="filters_box col-sm-2">

                        <b><h5>Filters Applied:</h5></b>
                        <i><h5 id="category_filter_indicator"></h5></i>
                        <i><h5 id="time_filter_indicator"></h5></i>

                    </div>

                    <div class="col-sm-5">

                    </div>

                    <div class="sum_box col-sm-12">

                        </br></br>
                        <b><h4>SUM OF PURCHASES</h4></b>
                        <b><h2 class="total_spent"></h2></b>
                    </div>
                </div>

            </div>

            <div class="col-sm-12">

                {% if purchase_list %}
                    <h1 class="purchase_header">Purchase List </h1>
                    <div class="date_span"></div>

                    <ul class="list_container">
                        {% for purchase in purchase_list %}
                        <li class="purchase_list_items">
                            <h5><b>{{ purchase.date }}, {{ purchase.time }}</b>: <span class="blue_text">${{ purchase.amount }}</span></h5>
                            <h5><u>{{ purchase.category }}</u>  {% if purchase.category_2 %} | <u>{{ purchase.category_2 }}</u> {% endif %}| {{ purchase.item }} {% if purchase.description %} | <span class="purchase_description"><i>{{ purchase.description }}</i></span> {% endif %}</h5>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h4 class="no_purchases">There are no purchases recorded.</h1>
                {% endif %}

            </div>

        </div>
    </div>

</body>

</html>

<script type="text/javascript">

    $(document).ready(function() {

        var category_filter
        var time_filter

        $.ajax({
            type: 'GET',
            url: 'filter/',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function(response) {
                // console.log('Filter GET successful!')
                $('#category_filter_indicator').text(response['category_filter']);
                $('#time_filter_indicator').text(response['time_filter']);
                $('.total_spent').text(response['total_spent']);
                $('.date_span').text(response['time_filter_start'].concat(' - ', response['time_filter_end']))
            }
        });
        //$('a':not('#homepage_link')).on('click', function(e) {

        $('a[id!="homepage_link"]').on('click', function(e) {
            e.preventDefault()

            $.ajax({
                type: 'POST',
                url: 'filter/',
                data: {
                       csrfmiddlewaretoken: '{{ csrf_token }}',
                       'filter': event.target.id
                },
                success: function () {
                    // console.log('Filter POST successful!');
                    location.reload()
                }
            });
            return false;
        });

    });

</script>
