.center {
    margin: auto;
    justify-content: center;
}

input[type="submit"] {
    display: block;
    margin: auto;
}

label[for^="id_"] {
    color: #292b2c;
    display: block;
    margin: 5px 15px;
    text-align: center;
    font-size: 0.6rem;
    font-family: Arial;
}

.lighter_background {
    background-color: #FAFAFA;
}

.body_background {
    background-color: #F4F4F4;
}

.position_login_elements {
    text-align: center;
    top: 3rem;
}

#password {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#username, #password {
    max-width: 15rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.login_div {
    text-align: center;
    position: relative;
    margin-left: 12rem;
    margin-top: 1rem;
    margin: auto;
}

input[id^="id_"] {
    /* color: #35b234; */
    margin: 0.2rem 0;
    width: 20rem;
}

textarea[id^="id_"] {
    /* color: #35b234; */
    margin: 0.2rem 0;
    width: 20rem;
}

select[id^="id_"] {
    /* color: #35b234; */
    margin: 0.2rem 0;
}

#submit_button {
    margin-bottom: 4rem;
    transform: scale(1.2,1.2)
}

.blue_text {
    color: blue;
    font-size: 1.5rem;
}

.login_button {
    margin: auto;
    position: relative;
    top: 2.8rem;
    transform: scale(2,2);
}

#password {
    margin-bottom: 1rem;
    margin-top: 0.6rem;
}

#username, #password {
    color: #35b234;
    max-width: 15rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.homepage_link {
    color: grey;
    font-size: 1.5rem;
}

.navigation_link {
    top: 0.4rem;
    /* margin-bottom: 3rem; */
    text-align: center;
}

.filter_list {
    margin-top: 0.5rem;
    text-align: center;
    /* width: 50%; */
}

.filter_list_2 {
    margin-top: 3.5rem;
    text-align: center;
    /* width: 50%; */
}

.no_filter {
    font-size: 1.5rem;
}

.no_purchases {
    padding-top: 2rem;
    text-align: center;
}

/* #purchase_form {
    margin-top: 2.5rem;
} */

.bottom_div {
    background-color: white;
}

.chart {
    text-align: center;
    padding-bottom: 20px;
}

.button {
    margin: 8px 1px 35px 1px;
    position: relative;
    left: 0.4px;
    width: 85px;
}

.total_spent {
    color: dimgrey;
    font-size: 1.75rem;
    padding: 5px;
    /* width: 130px; */
    margin-top: 5px;
    /* margin-left: 9px; */
    text-align: center;
}

.main_container {
    padding: 0 !important;
    position: relative;
}

.purchase_list_items {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: slategrey;
    margin-bottom: 3px;
    padding: 0 5px;
    list-style-type: none;
    background-color: #FAFAFA !important;
    /* background-color: rgba(240,248,255,0.4); */
    /* background-color: rgba(60,279,113,0.1); */
}

.filter_headers {
    font-size: 1.05rem;
    margin-bottom: 3px;
    text-decoration: underline;
}

.filters_box {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    text-align: center;
    /* width: 200px !important; */
}

.sum_box {
    text-align: center;
    margin-top: -2rem;
    color: #35B234
    /* width: 50%; */
}

.purchase_header {
    /* display: inline; */
    /* margin-top: 2rem; */
    text-align: center;
    margin-bottom: 23px;
}

.date_span {
    position: relative;
    /* left: 1.7rem; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 19rem;
    text-align: center;
    border-style: outset;
    border-radius: 5px;
    border-color: slategrey;
    padding: 5px;
}

.category_sizing {
    font-size: 1rem;
}

.purchase_list_div {
    padding: 5px !important;
    /* background-color: #FAFAFA; */
}

.modes {
  text-align: center;
  padding-bottom: 14px;
  margin-bottom: 5px;
  width: 300px;
}

.center_text {
    text-align: center;
}

.filter_identifier {
    text-decoration: none !important;
}

.green_filters {
    color: #35b234 !important;
    font-weight: bold;
}

.spacing {
    margin-bottom: 3rem;
}

.floating_bar_short {
    position: fixed;
    top:0 !important;
    margin: auto !important;
    width: 100%;
    height: 50px;
    right: 0.01%;
    text-align: center;
    z-index: 1000;
    border-bottom: 2px solid slategrey;
    background-color: #FAFAFA;
}

.white_background {
    background-color: white !important;
}

.purchase_modal_background, .quick_entry_modal_background {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 800;
}

.purchase_modal {
    visibility: hidden;
    position: fixed;
    text-align: center;
    box-shadow: 0 10px 7px 0 rgba(0,0,0,0.2), 0 7px 20px 0 slategray;
    margin: 0 5%;
    z-index: 995;
    /* height: 20%;
    width: 90%; */
    border-radius: 15px;
    top: 40%;
    background: rgba(30,144,255,0.93);
}

.quick_entry_modal {
    visibility: hidden;
    position: fixed;
    text-align: center;
    box-shadow: 0 10px 7px 0 rgba(0,0,0,0.2), 0 7px 20px 0 slategray;
    margin: 0 5%;
    z-index: 995;
    /* height: 200%; */
    /* width: 90%; */
    border-radius: 15px;
    top: 10%;
    background: rgba(30,144,255,0.93);
}

.wrapper {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 60% 39%;
    grid-template-rows: 24px 24px 24px 24px;
    background-color: #fff;
    color: #444;
    font-size: 0.7rem;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 1px;
    /* font-size: 150%; */

  }

  .a {
    grid-column: 1;
    grid-row: 1;
    font-size:0.7rem;
  }
  .b {
    grid-column: 1;
    grid-row: 2;
    font-size:0.7rem;
  }
  .c {
    grid-column: 1;
    grid-row: 3;
    font-size:0.7rem;
  }
  .d {
    grid-column: 1;
    grid-row: 4;
    font-size:0.7rem;
  }
  .e {
    grid-column: 2;
    grid-row: 1 / 3;
    font-size: 3rem;
    padding-bottom:3.5px;
  }
  .f {
    grid-column: 2;
    grid-row: 3 / 5;
    font-size: 1.3rem;
  }

  @-webkit-keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@-webkit-keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@-webkit-keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}
