.center {
    margin: auto;
    justify-content: center;
}

input[type="submit"] {
    display: block;
    margin: auto;
}

label[for^="id_"] {
    color: #292b2c;
    display: block;
    margin: 5px 15px;
    text-align: center;
    font-size: 0.6rem;
    font-family: Arial;
}

.lighter_background {
    background-color: #FAFAFA;
}

.body_background {
    background-color: #F4F4F4;
}

.position_login_elements {
    text-align: center;
    top: 3rem;
}

#password {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#username, #password {
    max-width: 15rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.login_div {
    text-align: center;
    position: relative;
    margin-left: 12rem;
    margin-top: 1rem;
    margin: auto;
}

input[id^="id_"] {
    /* color: #35b234; */
    margin: 0.2rem 0;
    width: 20rem;
}

textarea[id^="id_"] {
    /* color: #35b234; */
    margin: 0.2rem 0;
    width: 20rem;
}

select[id^="id_"] {
    /* color: #35b234; */
    margin: 0.2rem 0;
}

#submit_button {
    margin-bottom: 4rem;
    transform: scale(1.2,1.2)
}

.blue_text {
    color: blue;
    font-size: 1.5rem;
}

.login_button {
    margin: auto;
    position: relative;
    top: 2.8rem;
    transform: scale(2,2);
}

#password {
    margin-bottom: 1rem;
    margin-top: 0.6rem;
}

#username, #password {
    color: #35b234;
    max-width: 15rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.homepage_link {
    color: grey;
    font-size: 1.5rem;
}

.navigation_link {
    top: 0.4rem;
    /* margin-bottom: 3rem; */
    text-align: center;
}

.filter_list {
    margin-top: 0.5rem;
    text-align: center;
    /* width: 50%; */
}

.filter_list_2 {
    margin-top: 3.5rem;
    text-align: center;
    /* width: 50%; */
}

.no_filter {
    font-size: 1.5rem;
}

.no_purchases {
    padding-top: 2rem;
    text-align: center;
}

/* #purchase_form {
    margin-top: 2.5rem;
} */

.bottom_div {
    background-color: white;
}

.chart {
    text-align: center;
    padding-bottom: 20px;
}

.button {
    margin: 8px 1px 35px 1px;
    position: relative;
    left: 0.4px;
    width: 85px;
}

.total_spent {
    color: dimgrey;
    font-size: 1.75rem;
    padding: 5px;
    /* width: 130px; */
    margin-top: 5px;
    /* margin-left: 9px; */
    text-align: center;
}

/* .purchase_description {
    font-size: 1.2rem;
} */

.main_container {
    padding: 0 !important;
    position: relative;
    top: 6.5rem;
}

.purchase_list_items {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: slategrey;
    margin-bottom: 3px;
    padding: 0 5px;
    list-style-type: none;
    background-color: #FAFAFA !important;
    /* background-color: rgba(240,248,255,0.4); */
    /* background-color: rgba(60,279,113,0.1); */
}

.filter_headers {
    font-size: 1.05rem;
    margin-bottom: 3px;
    text-decoration: underline;
}

.filters_box {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    text-align: center;
    /* width: 200px !important; */
}

.sum_box {
    text-align: center;
    margin-top: -2rem;
    color: #35B234
    /* width: 50%; */
}

.purchase_header {
    /* display: inline; */
    /* margin-top: 2rem; */
    text-align: center;
}

.date_span {
    position: relative;
    /* left: 1.7rem; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 19rem;
    text-align: center;
    border-style: outset;
    border-radius: 5px;
    border-color: slategrey;
    padding: 5px;
}

.category_sizing {
    font-size: 1rem;
}

.purchase_list_div {
    padding: 7px !important;
    /* margin-top: -3rem; */
    /* background-color: #FAFAFA; */
}

.modes {
  text-align: center;
  padding-bottom: 14px;
  margin-bottom: 5px;
  width: 300px;
}

.center_text {
    text-align: center;
}

.filter_identifier {
    text-decoration: none !important;
}

.green_filters {
    color: #35b234 !important;
    font-weight: bold;
}

.spacing {
    margin-bottom: 3rem;
}

.floating_bar {
    position: fixed;
    margin: auto !important;
    width: 100%;
    height: 90px;
    right: 0.01%;
    text-align: center;
    z-index: 1000;
    border-bottom: 2px solid slategrey;
    /* background: rgba(250,250,250,1); */
    background-color: #FAFAFA;
}

.floating_bar_short {
    position: fixed;
    margin: auto !important;
    width: 100%;
    height: 40px;
    /* right: 0.01%; */
    text-align: center;
    z-index: 1000;
    border-bottom: 2px solid slategrey;
    background-color: #FAFAFA;
}

.white_background {
    background-color: white !important;
}

.purchase_modal_background {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 800;
}

.purchase_modal {
    visibility: hidden;
    position: fixed;
    text-align: center;
    box-shadow: 0 10px 7px 0 rgba(0,0,0,0.2), 0 7px 20px 0 slategray;
    margin: 0 5%;
    z-index: 995;
    height: 20%;
    width: 90%;
    border-radius: 15px;
    top: 40%;
    background: rgba(30,144,255,0.93);
}
